[2017-02-05 08:11] Meseira commented on #677
@mekanix Up to what I have understood, there is no workaround for this bug now. In Debian Jessie, I have set a LDAP authentication through PAM and OpenSMTPD use it. It works like a charm.

[2017-02-06 17:29] poolpOrg commented on #767
That can't be right :-/

I'll look into this (and other PR / issues) as soon as my exams are done on Saturday ;-)

[2017-02-08 10:12] jdelic commented on #767
no worries. And best of luck with your exams!

[2017-02-13 00:24] poolpOrg commented on #767
I've tried to reproduce and code works as expected for me, both when using negation and not, I suspect your issue is because your 'reject' rule does not specify a 'for' parameter which causes it to default to 'for local'.

Can you confirm ?

    table v { gilles@laptop.poolp.org }
    reject from any for any recipient <v>

$ echo test | mail gilles@laptop.poolp.org
send-mail: command failed: 550 I

[2017-02-13 00:31] poolpOrg commented on #757
It is an unintended side-effect of an intended feature.

Basically, once a client authenticated, it is considered just like if the user had logged in locally and send the mail from the local host, therefore it matches 'from local' and no longer the source address.

We have plans to rework how sessions are flagged, I'll have a look this week to see if there's an easy fix that can be applied before

[2017-02-13 00:34] poolpOrg commented on #722
OP timeout

[2017-02-13 00:34] #722 closed

[2017-02-13 00:36] poolpOrg commented on #754
UP ?

[2017-02-13 08:10] poolpOrg commented on #698
As mentioned in the mailing-list, we have found a design issue in how filters are implemented and are going to be refactoring the code in a much different way.

I'll close this ticket until we reintroduce the new design as it makes no sense tracking the leak in code that is going away.

[2017-02-13 08:10] #698 closed

[2017-02-13 08:15] poolpOrg opened #768 "Subject: smtpd "451 Temporary failure" if LDAP connection dies"
If connection drops, the only way to reestablish it is to restart smtpd

[2017-02-13 08:18] poolpOrg opened #769 "Subject: cross-compile bug in configure?"
Not that cross-compiling is a priority but there may be a better configure pattern that would also solve this.

(...)
checking if programs using libevent functions will link... no
checking openssl/opensslv.h usability... no
checking openssl/opensslv.h presence... yes
configure: WARNING: openssl/opensslv.h: present but cannot be compiled
configure: WARNING: openssl/opensslv.h:     check for missing

[2017-02-13 10:00] poolpOrg commented on #744
diff waiting for ok's to be commited, probably today

[2017-02-13 12:30] poolpOrg commented on #744
committed, this will be in next snapshots and next major release

[2017-02-13 12:30] #744 closed

[2017-02-13 12:41] poolpOrg commented on #754
I can confirm this is an "issue" with your own setup and the content of your virtual maps which trigger a false positive from their scanner. I tried various configurations, including the default one, a simple one and the @opensmtpd.org one which has many virtual domains, relays, etc... and they all result in:

    All tested completed! No relays accepted by remote host!

closing ticket.

[2017-02-13 12:41] #754 closed

[2017-02-13 13:09] jdelic commented on #698
Just in general, I am personally convinced that giving as much *context* as possible is important for a ticket tracking system to be useful to the community or even just attached developers.

Unfortunately I can't find anything about what design issues have been identified, or any pubic discussion about what steps are going to be taken to resolve them. But to provide as much context to this ticket

[2017-02-13 13:50] jdelic commented on #767
@poolpOrg

Are you sure that your "550 invalid recipient" wasn't generated by the default reject when no rule matches?

I ran the following config:
[code]

and then the following session:
[code]

and got the following logs:
[code]

`no rule matched` seems wrong to me after `-> found`. Is that what happens on your end, too?

[2017-02-13 14:03] poolpOrg commented on #767
You I'm sure that my test was correct, the reject was in front of my other local rules which will accept any mail submitted locally but I think you misread what I said.

Your reject rule does not provide a 'for' parameter which is equivalent to specifying 'for local' and in the example you just pasted, you did the same thing.

Unless your local machine has 'example.com' as its hostname, you should

[2017-02-13 16:14] jdelic commented on #751
I will file individual tickets for the points mentioned in my previous comment, but this can be closed now.

[2017-02-13 16:14] #751 closed

[2017-02-13 19:04] poolpOrg commented on #698
The reason why I'm not providing context is precisely because I'm no longer willing to cope with everyone trying to play and workaround the fact that the feature is not ready and releasing unstable code that people send us bug reports about.

I honestly think that we could have moved forward 2x/3x times faster if we didn't have to cope with people releasing half-baked filters that generated LOTS o

[2017-02-13 21:46] jdelic commented on #767
whoops, of course. Sorry, I was a bit distracted while running this test today :(. You are right:
[code]

yields:
[code]

So that works as intended. Thanks for pointing it out.

I guess the main take-away from this ticket is that [http://man.openbsd.org/smtpd.conf](smtpd.conf(5)) should make it more clear that `for local` is the default. It's clearly stated for `from local`, but not for `for local

[2017-02-13 22:03] poolpOrg commented on #767
Yes, an improvement to the man page is in order, please open a ticket and I'll take care of it tomorrow during my cleanup round :-)

As for your other question, there's no way to resolve virtual/aliases before matching because of a semantic issue more than a technical issue. To be able to figure that a user does not exist for a domain, you need to be able to match a domain and not find the user wi

[2017-02-13 23:29] jdelic commented on #698
Hmm, that's not the kind of context I meant. I was simply referring to you mentioning a mailing list post without linking it and a design deficiency without naming it. That makes the issue opaque and doesn't help people make informed decisions and I was only able to provide one of the two. Let me try and clear this up:

I should have been more clear that *I am* writing the mentioned filter myself

[2017-02-15 13:54] jdelic opened #771 "Update smtpd.conf(5) to make default for accept/reject rules more clear"
As the takeaway of #767 it would be good to make it more clear that when `from ...` and `for ...` parts of `accept` or `reject` queries aren't specified the default settings is `from local` and `for local` respectively.

Currently the documentation states:
[code]

The same is not true for `for`:
[code]

Aside from updating the the description of the `for` rule, I would recommend changing the descr

[2017-02-15 13:54] jdelic commented on #767
issue for man page update has been filed, so this can be closed afaict. Thanks @poolpOrg

[2017-02-15 13:54] #767 closed

[2017-02-18 06:13] PhLe commented on #502
I have the same goals: DKIM signing only for mails originating from *@mydomain.org*, but not for mails that only pass through my server for taking profit of redirections to a list of mail addresses in various domains. Furthermore, I have to cope with a cornercase: mail originated from *@laposte.net* and redirected to *@laposte.net* are rejected due to strict SPF restrictions by their SMTP server.

[2017-02-20 15:29] poolpOrg opened #772 "Rework configuration and internal structures"
We made a mistake by having smtpd.conf rules perform both decision and action.

This has led to numerous issues, many that users are not aware of because they result in code being more complex than it should be, and many that users are aware of but don't realize are caused by this "try to shove decision and action in same rule".

There are currently several tickets that are a direct result of this

[2017-02-20 15:49] poolpOrg opened #773 "Rework filters"
As I implemented filter-rspamd, I figured that there was a design issue in the way we implemented the interactions between filters and the daemon.

The more we discussed fixes, the more it became obvious that this was not fixable and that while we got 95% of the design correct and sexy, these 5% couldn't be worked-around and we would end up with a 5% hack that was going to explode in our face late

[2017-02-20 15:58] poolpOrg commented on #502
This is going to be fixed with #772

I'm closing this ticket because #772 now has a reference to it and we can discuss this in the commands of that new ticket.

[2017-02-20 15:58] #502 closed

[2017-02-24 13:46] idfake commented on #677
I use OpenSMTPD to relay to an MS Exchange. Exchange drops idle connections and table_ldap doesn't recover from that. That said, i have no idea if that's the same problem here, but i fixed it quick'n'dirty years ago. Works for me (TM).

[code]

[2017-03-05 21:54] changsijay commented on #671
hi I have the same issue

[code]

I am not familiar with FreeBSD command, could you teach me how to clean reinstall?
did you mean reinstall openstmpd?

[2017-03-06 05:40] ruscur commented on #754
Hitting the same issue with no wildcards on 6.0.2p1.  This seems to occur when the RCPT TO doesn't have a domain at the end:

[code]

Not sure what I could put in my config to prevent this.

[2017-03-06 07:37] poolpOrg commented on #754
The issue you are hitting is a configuration issue, you need to take this to the mailing list and, most of all, provide your configuration, table contents and logs as you reproduce your problem as this report is essentially useless to troubleshoot anything.

Both a default setup with the default config and my own config with a large number of domains, both primary and virtual, with aliases and red

[2017-03-07 06:48] snimmagadda commented on #761
Hi,

I posted a diff on the mailing list to fix this issue. Comments, test reports welcome.

[2017-03-08 21:45] dfateyev commented on #738
The same issue with the latest build on Fedora devel (where openssl-1.1.0e is used).
Please refer [18270311 build log](https://kojipkgs.fedoraproject.org//work/tasks/311/18270311/build.log) for more details.

[2017-03-17 14:40] mickaeltorres opened #774 "Multiple connections to smtp server, only one used"
I'm seeing a strange thing happening on OpenSMTPD 6.0.2p1 on debian jessie.
For each each outbound mail I see three connections to the smtp server, with only one used:

Mar 17 14:56:09 mta-01 smtpd[26883]: ffffffff9325dfa0 smtp event=connected address=10.x.x.x host=10.x.x.x
Mar 17 14:56:09 mta-01 smtpd[26883]: ffffffff9325dfa0 smtp event=message msgid=c76c9ce0 from=<xxx@xxx.com> to=<yyy@yyy.fr> si

[2017-03-17 14:57] mickaeltorres opened #775 "Tertiary MX never used"
On OpenSMTPD 6.0.2p1 on debian jessie, when having a tertiary MX as follow:

toto.com.       60      IN      MX      10 mx01.toto.com.
toto.com.       60      IN      MX      20 mx02.toto.com.
toto.com.       60      IN      MX      30 mx03.toto.com.

If mx01.toto.com and mx02.toto.com are both down, it seems that mx03.toto.com is never tried.
The route for mx01.toto.com is only disabled for 15s w

[2017-03-17 15:17] ericfaurot commented on #774
That is because you set all delays to 0. You need to set a little delay between two connections attempts, to give the first connection a little chance to handle the mail before the connection engine decides it is to initiate a new one.

[2017-03-17 15:24] poolpOrg commented on #774
I still think it is a bug @ericfaurot, let me explain:

The engine should know that a connection is being established and not attempt to establish a new one when there's already one being established.

There are several cases where you really need to set delays to 0, @mickaeltorres has a use case where there's only one endpoint to outgoing mail (one smarthost with one IP address), if the delay is

[2017-03-17 15:32] ericfaurot commented on #774
The engine could be improved yes, but the caping you describe is not what happens. You get one new connection every second while there are mails to send, not one mail per second.

[2017-03-17 15:41] poolpOrg commented on #774
oh right, so basically he can keep the transaction delay to 0s while leaving the connection delay to whatever default value, agreed.

I still think we should have a smarter approach to connection establishing in the MTA improvements we plan, the MTA should gradually attempt to create new connections based on current state of connections + knowledge of mails in queue

[2017-03-17 15:42] mickaeltorres commented on #774
I'll try to remove the following:
limit mta conn-delay-relay 0
limit mta conn-delay-route 0

Thanks guys!

[2017-03-17 15:43] poolpOrg commented on #774
yes please then close the ticket yourself when you confirm the "issue" goes away :)

[2017-03-25 17:16] FreakyPenguin commented on #164
I might be interested in taking a stab at this. First I'd like to figure out though how much effort this might be (I'm not familiar with the opensmtp codebase) and if this the right time to look into this (given that filter support is being revamped). Does anyone have any pointers/comments/suggestions before I blindly try to hack away at this?

Thanks :)

[2017-03-26 08:24] poolpOrg commented on #164
I don't know if it's going to be much effort because I've never had a look.

Now is an okay time to work on it, as long as the code is isolated, it won't be hard to adapt to filters later, I suggest you communicate with us as you start hacking on it so that you don't realize too late we're making a change that will impact you ;-)

[2017-03-27 19:40] FreakyPenguin commented on #164
I started hacking on this a bit over the weekend [here](https://github.com/FreakyPenguin/OpenSMTPD/tree/feature-proxy) ([current diff](https://github.com/FreakyPenguin/OpenSMTPD/compare/portable...FreakyPenguin:feature-proxy). I haven't done any sort of in depth testing on the code and there are definitely some kinks to work out, but the basics seem to be working.

This only implements the core fu

[2017-03-28 09:44] jdelic commented on #164
I have only one suggestion, currently:

In keeping with the "spirit of SMTP", I would love to see proxy protocol version 1 support in the final implementation. Simply so that a proxy endpoint can also be used with `telnet` and a human-readable protocol representation for easy debugging of SMTP+PROXY sessions. I hope that's not too much additional work.

[2017-03-28 09:48] jdelic commented on #164
@poolpOrg
Since @FreakyPenguin is actively working on this issue, can we reopen this ticket?

@FreakyPenguin
Another suggestion: It would be awesome if you'd fork this repo and opened a PR for your changes when you have the time.

[2017-03-28 10:21] poolpOrg commented on #164
@ericfaurot care to help me review this ?

[2017-03-28 21:07] FreakyPenguin commented on #164
@jdelic I'll look into adding v1 support as well. It should be pretty straight forward. I did not really think about testing/debugging, so I thought v2 should be enough and I could avoid writing the text parsing code. ;-)

I also opened a PR now, I just wanted to avoid anyone merging this prematurely before I have a chance to do some testing.

[2017-04-04 23:51] pouar opened #778 "mbox keeps getting trunicated to 0 length"
Not sure if it is related, but I think someone is trying to bruteforce their way into my server, not sure if it has anything to do with it or not, but it's the only thing I can find in the logs. I'm currently using Maildir as a work around. Does OpenSMTPD append to the end of an mbox file or rewrite the whole thing?
[smtpd.conf](https://github.com/OpenSMTPD/OpenSMTPD/files/894793/smtpd.conf.txt)
[

[2017-04-05 10:27] poolpOrg commented on #778
Please next time ask questions like this in the mailing-list, there are more people reading them who can answer and it doesn't trigger a notification to developers ;-)

OpenSMTPD does not rewrite the file, this would be very inefficient.

Instead it relies on mail.local which is a utility that has been imported in OpenBSD 21 years ago and been in use with both Sendmail and OpenSMTPD since then wit

[2017-04-05 14:52] pouar commented on #778
*facepalms* I'm an idiot. My MUA is setup to import them automatically.

[2017-04-06 12:00] SjonHortensius commented on #775
I can confirm this issue; we're having the same problem

[2017-04-06 13:57] poolpOrg commented on #775
For the record, I asked @mickaeltorres to open a ticket but explained IRL that this ticket is meant to make sure that the MTA layer rewrite will account for this.

[2017-04-06 14:51] poolpOrg commented on #778
there you go ;-)

closing the ticket.

[2017-04-06 14:51] #778 closed

[2017-04-19 20:12] nihilus commented on #662
I did fixed this on uClibc as described here: https://github.com/libressl-portable/openbsd/issues/78

[2017-04-29 17:39] Wolf480pl commented on #709
I started looking through the source code to see if it's been already implemented, and if not, how hard it would be to implement.

Apparently, if the config grammar was slightly changed to allow these two options in `listen on socket`, they would almost work, except `s->username` on the `smtp_session` would be empty.

Looks like the control process [already checks][0] the user's effective uid with

[2017-05-03 23:46] cyphunk opened #782 ""machine does not have a hostname set""
I get this error when running opensmtpd_5.7.3p2 on ubuntu 16.04lts server with the following config:

[code]

contents of /etc/smtpd.aliases:

[code]

relevant code:
[code]
[code]

the command ``hostname`` returns the name ``project1`` which is the name of the host. So, the if in parse.y shouldn't fail. But I'm not familiar with the rest of the code so perhaps I am missing something helpful I coul

[2017-05-04 00:05] cyphunk commented on #782
Installed from git. still fails to start, but log is different:

[code]

[2017-05-08 09:47] nanoant opened #783 "extras: filter-rspamd LINE_MAX is too low for processing rspamd output"
With latest version 1.5.7 rspamd is sending JSON output that is longer than 2048 (LINE_MAX), this causes `filter-rspamd` to fail parsing incomplete JSON with 421 on `IO_DISCONNECTION` and prevent delivering any mails if this filter is on.

Replacing in `rspamd.c`:
[code]
with:
[code]
(which implies maximum 64KB buffer instead 2KB) solves the issue.

[2017-05-10 08:26] #782 closed

[2017-05-10 10:09] cyphunk opened #784 "filter-dnsbl blocks all mail with: received invalid command """
When using the dnsbl filter any email recieved results in this message:

May 10 10:08:02 project1 smtpd[23559]: smtp-in: session fabdeb090c47bd9e: received invalid command: ""

[2017-05-10 20:32] cyphunk opened #785 "OpenSMTPD incompatible with Letsencrypt"
Letsencrypt's certbot runs routine updates and when it updates a certificate it creates a new one and changes a link to it. Their recommendation is that webservers and mail servers should utilize the link, thereby leaving certbot to update it transparently. OpenSMTPD however doesn't like symlinks due to permissions 777. As a workaround one can create a letsencrypt hook script that is run after upd

[2017-05-12 16:27] ArchangeGabriel commented on #785
Works for me here, with symlink. Permissions on the symlink are irrelevant.

My setup (relevant parts only):

– `smtpd.conf`
[code]
– files in `/etc/smtpd/tls`:
[code]
– files in `/etc/letsencrypt/live/<domainname>/`:
[code]
– files in `/etc/letsencrypt/archive/<domainname>/`:
[code]

This last part is the important one. Those are not the default permissions, and AFAIK certbot (but you could be us

[2017-05-12 16:36] ArchangeGabriel commented on #784
Filters are not supported currently.

[2017-05-12 16:43] ArchangeGabriel commented on #783
Filters are not supported currently.

[2017-05-13 06:45] abiscuola commented on #750
Hi.

Needed to change my account. I'm actually the one that reported this issue

[2017-05-15 06:13] nanoant commented on #783
@ArchangeGabriel I know it is not, but still some ppl (like me) use it successfully. Therefore instead of that one I created a push request: https://github.com/OpenSMTPD/OpenSMTPD-extras/pull/47 and closing this.

[2017-05-15 06:13] #783 closed

[2017-05-15 09:42] B4rb3rouss opened #786 "Invalid recipient with spamassassin"
Hello,
I'm using spamassassin as a filter for incoming messages. Recently, I can't use it without having 550 error. Everything works as if filtered spams weren't tagged by smtpd, because when I ass a rule with ``tagged !NOSPAM``, the message enters in an infinite loop.

Here is my setup :

smtpd.conf :
[code]

Here is the output of ``smtpd -vd -Tlookup`` :

[code]

What do I miss?

Regards.

[2017-05-15 13:19] B4rb3rouss commented on #786
Problem solved.
I had to force spampd to output mail to localhost:10026 which wasn't default for some reason.

[code]

[2017-05-24 01:28] rhclayto commented on #671
@changsijay:

[code]

It worked for me.

[2017-05-24 21:39] #786 closed

[2017-05-24 21:41] poolpOrg commented on #785
works for me too, this is a user issue.

[2017-05-24 21:41] #785 closed

[2017-05-24 21:42] poolpOrg commented on #784
Filters are not supported, we'll handle bug reports when they are supported.

[2017-05-24 21:42] #784 closed

[2017-05-24 21:44] poolpOrg commented on #771
jmc@ has fixed this in OpenBSD, his changes will be merged to github tomorrow.

[2017-05-24 21:44] #771 closed

[2017-05-25 21:50] poolpOrg commented on #774
confirmed by phone a loooong time ago

[2017-05-25 21:50] #774 closed

[2017-05-26 01:34] wxcafe opened #787 "smtpd man page error"
![screenshot from 2017-05-26 03-32-36](https://cloud.githubusercontent.com/assets/3009327/26477188/2897be06-41c4-11e7-8458-6e10ab256c95.png)

I'm pretty sure this is a formatting error

[2017-05-27 20:23] jdelic opened #788 "Make table-postgres / lookup process error handling for query_credentials more robust"
I just ran into a problem where I had accidentally removed a query placeholder in `query_credentials`, leading OpenSMTPD to enter an infinite loop on completing `AUTH LOGIN` and becoming unresponsive. This resulted in the following logs:

[code]

in an infinite loop. At this point I am not entirely sure what component should make sure that such a lookup query is not repeated indefinitely.

[2017-05-28 10:27] poolpOrg commented on #788
problem is with table-postgres which should not assume a query error is caused by a connection drop, i'll have a look shortly.

[2017-05-28 11:17] jdelic commented on #788
No worries, let me take a stab at it, should be easy enough to fix :).

[2017-06-09 20:23] korylprince opened #791 "Feature Request: Dual Delivery"
I recently stumbled upon OpenSMTPD after searching for an alternative to the configuration nightmare which is postfix. I love the simple configuration (it seems very similar to pf.)

The one problem I have is I need dual delivery (for archiving purposes.) I've searched the internet for many hours and could not find a way to do dual delivery, at least for generic, unknown recipients.

I don't know

[2017-06-09 22:43] jdelic commented on #791
@korylprince

I agree that it might be useful to have multiple rules apply to an email. Like in qmail (the other MTA that I am familiar with), your *particular use-case* seems to really belong in the LDA part. Specifically, to achieve what you want, you could

  * use a `.forward` file with two delivery instructions for particular users or more generically for all users
  * with `dovecot-lda` or d

[2017-06-12 13:31] korylprince commented on #791
Unfortunately, none of the email through this server is delivered locally. This server acts like an internal relay, relaying mail from local devices (server notifications, Xerox scans, etc) to Google's relay and relaying mail back and forth from our internal helpdesk system to Google's system. (We use GSuite/Google Apps.)

All of this mail has to be archived, but none of it is delivered locally wh

[2017-06-12 21:49] mulander opened #792 "smtpctl monitor 'curr' not resetting to 0 - possible fd leak?"
Hi,

pasting the info from the IRC chat:

[code]
I will gladly provide fstat output provided with hints on what to look for/how to filter it out.

[2017-06-13 19:55] mulander commented on #792
We tried to tackle this at #OpenBSD-daily, here are the logs from our progress so far: https://junk.tintagel.pl/openbsd-daily-smtpd-1.txt

We will resume trying to pin point this issue tomorrow at 18:00 UTC. Suggestions/hints on how we should proceed are very welcome.

[2017-06-13 20:39] mulander commented on #792
[code]

It was confirmed that there are stale connections between smtpd and clamav that are not recognized by smtpd as dropped. We will try to generate some load on clamav to debug this.

[2017-06-14 20:09] mulander commented on #792
Daily read from #openbsd-daily

https://junk.tintagel.pl/openbsd-daily-smtpd-2.txt

We managed to reproduce the issue thanks to hints we got from the OpenSMTPD IRC channel.

The issue is related to clamav incoming connections, they are not recognized as closed. Details are in the log, we will continue to investigate tomorrow.

Feedback and pointers welcome.

[2017-06-15 20:15] nikolavouk commented on #556
Is there any update on when ECDSA support for opensmtpd is expected?

Right now it's failing with:

pony express: ssl_ctx_create: could not fake private key: No such file or directory

and it seems that the underlying of libressl depends on it being RSA.

https://github.com/OpenSMTPD/OpenSMTPD/blob/73d3fd78ceba78a357d5e30b3c11fde590857e39/smtpd/ssl.c#L426

I guess the answer is to replace that wit

[2017-06-15 21:32] mulander commented on #792
Bug tracked down, patch written by DuClare.

Tested on:
 6.1 - with and without the patch - bug and fix confirmed
 6.1 using OpenSMTPD -current (with a custom freezero wrapper) - bug and fix confirmed

Logs from today:
https://junk.tintagel.pl/openbsd-daily-smtpd-3.txt

[2017-06-18 22:16] edgarpettijohn commented on #791
What is your current smtpd.conf?

[2017-06-20 18:56] korylprince commented on #791
My current smtpd.conf (with postfix as the copying middleman) is:
[code]

Obviously, there are a few other files for the tables, but I think those are self-explanatory.

I generate the `google_addrs` table with the following script:

[code]

For those wishing to use a similar setup, here is my postfix config:

[code]

It could almost certainly be made simpler, but this works. The only other thing

[2017-06-21 00:27] edgarpettijohn commented on #791
That is fairly complex. I tried to think of a way to make it work without postfix, but was unsuccessful.

[2017-06-21 01:01] mulander commented on #792
Fixed with this commit: https://marc.info/?l=openbsd-cvs&m=149786136228939&w=2

Closing.

[2017-06-21 01:01] #792 closed

[2017-06-25 15:07] hostingnuggets opened #793 "Can't delete mail from queue which does not route to host"
I am using OpenSMTPD 6.0.2p1 as smart host and have the following mail stuck my queue:

[code]

I tried to remove it using:

[code]

but somehow it re-appears again in the queue. Even more annoying is the following log messages which appear every 15 seconds

[code]

So my question here really is how can I get rid of this mail for ever without having to wait the default 4 days of expiring?

Thanks.

[2017-06-27 07:28] ckeen opened #794 "extras: tool-stats script seems to be unhappy with logfile turning message lines"
In a cron job I am calling tool-stats weekly based on the OpenSMTPD tutorial. I am getting these messages:

These lines look like this:

Maybe the strptime template does not fit these?

[2017-06-27 18:53] hostingnuggets commented on #793
Just a short update, it is now over 5 days that this message is in the queue and I can't get rid of it and neither does it seem to disappear from the queue. After so much time think I don't think this is an expected behavior from OpenSMTPD. I would be glad if someone can look into this and let me know if there is a workaround to get rid of this never ending message in the queue.

[2017-07-10 06:07] CasperVector opened #795 "[PATCH] fix unstrutable error messages with missing mail spool directory"
As the title; this includes two fixes:
* `mda_getlastline()`: handle empty output correctly.
* `getlock()`: bail out immediately if mail spool does not exist.

Following is the patch:
[code]

[2017-07-12 07:18] star26bsd opened #796 "relay via requires mx?"
Hi

Why would OpenSMTP want to lookup the MX of my specifically provided smarthost s025.cyon.ch? Do I need to specify it in square brackets like sendmail to circumvent MX lookup?

OpenBSD 6.1, OpenSMTPd 6.0.0.

smtpd.conf:
[code]

`$ dmesg | mail -s test xxx@gmail.com`

`$ doas smtpd -vd`

d4fcfce7e420b7a6 smtp event=message address=local host=frido.rickauer.tld msgid=b5b47ec4 from=<stephan@frido.

[2017-07-12 07:56] star26bsd commented on #796
Providing the IP instead of a hostname works.

[2017-07-15 11:12] ubitux opened #797 "fixing an mda-buffer for an enveloppe stuck in the queue"
If you mistakenly set a failing command line for an mda (let's say `deliver as mda "fdm -wrong-option fetch"`), realize your mistake, and then decide to fix it after a message is stuck in the queue, there doesn't seem to be any way of getting them out because the envelopes keep the `mda-buffer` field containing the wrong command. Even after a restart or re-scheduling all the envelopes.

[code]

[c

[2017-07-22 02:25] yonas opened #798 "Temporary failure in MX lookup"
When I try to send mail to anyone, I get a `Temporary failure in MX lookup` error in `/var/log/mail.log`. This effects all emails.

Running `dig mx <doman>` on the server works fine.

Ubuntu 16.04.2 LTS
OpenSMTPD v6.0.2 and v5.7.3

[2017-07-22 03:11] yonas commented on #409
@poolpOrg DNSSEC support was added to libasr in [March](https://github.com/OpenSMTPD/libasr/commit/43f671c3b3bf2de82e29971ff467667f3704147e).

[2017-07-24 05:56] aikudinov commented on #796
s025.cyon.ch has no MX or A record, how would it find IP to connect to?

[2017-07-24 06:14] star26bsd commented on #796
Indeed. I've switched to using the IP cause I thought it's an smtpd issue. Now it turns out the remote smtps' tld is .net not .ch - sorry for the noise. Works like a charm. Thanks.

[2017-07-24 06:14] #796 closed

[2017-07-27 13:16] poolpOrg commented on #798
This is not enough information to debug, please provide log samples.

I'm pretty positive the issue is on your side, if DNS resolution was broken on Ubuntu my mailbox would be filled with user reports by now.

[2017-07-27 13:18] poolpOrg commented on #797
Currently there is no way to work around this, admin must edit the envelopes in queue and restart to have them reprocessed. There's a lengthy explanation why in the tickets, but there's ongoing work to make this work in the future: https://github.com/OpenSMTPD/OpenSMTPD/projects/2

[2017-07-27 13:20] yonas commented on #798
@poolpOrg I'll try to get logs to you soon. When I replaced OpenSMTPD with Postfix, everything worked properly with the default config, so this is an issue with OpenSMTPD.

[2017-07-27 13:21] poolpOrg commented on #795
Hi,

Can you send these as two separate pull requests please ?

[2017-07-27 13:38] poolpOrg commented on #791
being discussed, we're unsure if we want to achieve this through smtpfd or through the smtp session, also the config rework taking place may affect decisions.

[2017-07-27 13:42] poolpOrg commented on #788
Any progress on fixing this ?

[2017-07-27 13:55] poolpOrg commented on #765
Will look into this

[2017-07-27 13:57] poolpOrg commented on #761
discussed with @snimmagadda a while ago and @ericfaurot a few minutes ago, this is a MUA config change that's not worth the kludge we'd add to smtpctl to fake sendmail options parsing.

[2017-07-27 13:57] #761 closed

[2017-07-27 14:00] poolpOrg commented on #757
Discussed with @ericfaurot, this will be very tricky to fix with current configuration, we will slip a fix for this while working on https://github.com/OpenSMTPD/OpenSMTPD/issues/772

[2017-07-27 14:10] poolpOrg opened #799 "Reimplement a Kick Mechanism"
The kick mechanism was removed due to a bug but we need to reimplement it properly.

[2017-07-27 14:11] poolpOrg commented on #740
discussed with @ericfaurot , we're both opposed to the first idea.
The second idea will be part of #799

[2017-07-27 14:11] #740 closed

[2017-07-27 14:13] poolpOrg commented on #739
This is very likely the same as #793, i'm closing this as your ticket is now referenced in the other one which has been assigned to @ericfaurot

[2017-07-27 14:13] #739 closed

[2017-07-27 14:14] #734 closed

[2017-07-27 14:15] poolpOrg commented on #729
This will be handled in #773 , closing this ticket as it is now referenced in the other one, will be taken into account there.

[2017-07-27 14:15] #729 closed

[2017-07-27 14:20] poolpOrg commented on #713
@ericfaurot has found a very interesting way of fixing this, so he's taking the assignment :-p

[2017-07-27 14:23] poolpOrg commented on #701
this will be handled in #773, closing this ticket as the other is assigned and your ticket is now referenced there.

[2017-07-27 14:23] #701 closed

[2017-07-27 14:26] poolpOrg commented on #685
@ericfaurot and I have discussed this again and there is no way this can be done in a clean way within smtpd, this can certainly be done with a smtpfd filter when we're finished with #773

[2017-07-27 14:26] #685 closed

[2017-07-27 14:40] poolpOrg commented on #787
I will need more details, it renders fine on OpenBSD, Linux and OSX.

What distro are you using ?
Did you build yourself or use a package ?
Can you provide de configure and make / make install log ?

As is, I can't fix as I have virtually no idea where to look :-/

[2017-07-27 14:55] poolpOrg commented on #643
There is ongoing work in https://github.com/OpenSMTPD/OpenSMTPD/projects/1 and ticket #773 , closing this ticket as is is referenced in the other which is already assigned.

[2017-07-27 14:55] #643 closed

[2017-07-27 15:00] poolpOrg commented on #677
@idfake can you please make a pull request of this diff ? :-)

[2017-07-27 15:06] wxcafe commented on #787
It's fine in the debian package but botched in the ubuntu package, so I'm guessing it has something to do with the ubuntu packaging? If they're just importing the debian package idk what's up but I'm guessing they're changing *something* to it.

[2017-07-27 15:10] ericfaurot opened #800 "rework mta"
metaticket for the refactor of the mta component.

[2017-07-27 15:10] poolpOrg commented on #630
will no longer be an issue given that filters will be part of smtpfd and use it's own logging facility

[2017-07-27 15:10] #630 closed

[2017-07-27 15:14] poolpOrg commented on #545
This will be handled as part of #773 which is assigned, closing the ticket as it is referenced there

[2017-07-27 15:14] #545 closed

[2017-07-27 16:09] poolpOrg commented on #769
Actually part of #563

[2017-07-27 16:09] #769 closed

[2017-07-27 16:18] poolpOrg commented on #480
After a lengthy discussion with @ericfaurot, I have come to the conclusion that this is not only NOT doable but also a bad idea. Bear with me, this ticket has a happy ending.

Expansion tokens are MDA-restricted, they're currently used in the lookup process due to an early design error which is being worked on in #772 but they're going to be handled in the MDA layer, hopefully before OpenSMTPD 6.3

[2017-07-27 17:15] poolpOrg commented on #787
I have no idea, as far as I'm concerned the man page is fine on every OS I check so I'd say the problem is with Ubuntu not with us but I'd like to be sure before the ticket is closed to avoid pulling a Poettering.

[2017-07-27 18:07] poolpOrg commented on #798
Also, is this coming from a packaged version of OpenSMTPD ?

[2017-07-27 18:40] poolpOrg commented on #409
Resurrected experimental branch:
https://github.com/OpenSMTPD/OpenSMTPD/tree/DANE

DANE will not be ready for 6.2.0 but should be ready for 6.3.0

[2017-07-27 19:12] poolpOrg opened #801 "sometimes SMTP sessions disconnect after QUIT before sending reply"
There seems to be an issue where the SMTP engine will sometimes trigger a client disconnect after a QUIT before the QUIT ack has been sent.

In most cases this is not really an issue, there is no protocol violation, no message loss, but it seems to confuse some software that _expect_ the answer.

[2017-07-27 22:13] poolpOrg commented on #797
This will be naturally resolved with #772, since your ticket is now referenced there I'll close it.

[2017-07-27 22:13] #797 closed

[2017-07-27 22:32] poolpOrg commented on #677
The issue experienced is unrelasted to @idfake 's diff however I think his fix was much needed.

Anyone experiencing the OP issue can get in touch with me ?

[2017-07-27 22:33] poolpOrg commented on #768
Issue has been fixed.

[2017-07-27 22:33] #768 closed

[2017-07-28 09:31] CasperVector commented on #795
Done with #802.

[2017-07-28 09:31] #795 closed

[2017-07-29 20:45] poolpOrg opened #805 "devops: we need CI"
We need someone to setup CI for all branches of this repository.

[2017-07-29 20:48] poolpOrg opened #806 "devops: we need monitoring"
Weeks before releases, we often perform twitter shitstorm stress tests to make sure the code is stable in real conditions, we do basic monitoring.

We'd like to have a much better monitoring of the smtpd instance we're testing, covering both smtpd AND the host system.

Suggestions ?

[2017-07-29 20:50] poolpOrg opened #807 "devops: automate coverity and scan-build builds once a day"
Topic says it all.

[2017-07-29 21:00] jirutka commented on #805
I can set up Travis CI to test OpenSMTD on x86_64 Ubuntu Trusty (glibc) and Alpine Linux (musl libc, using [alpine-chroot-install](https://github.com/alpinelinux/alpine-chroot-install)). We can use Alpine also to test on different architectures using QEMU user-mode emulation (alpine-chroot-install makes it trivial to set up).

I’ve prepared such setup e.g. for binaryen just few weeks ago (see [her

[2017-07-29 21:01] jirutka commented on #806
What kind of monitoring do you mean? Whether the service is accessible, response time, usage of system resources, logs monitoring…?

[2017-07-29 21:04] jirutka commented on #807
This should be IMO run on every push to the repository and for every pull request, as part of CI jobs. Or do you mean some specific setup with this?

[2017-07-29 21:04] poolpOrg commented on #805
That would be great, yes

[2017-07-29 21:09] poolpOrg commented on #806
As much monitoring as possible really.

smtpd monitoring would graph concurrency, inbound, outbound, tls vs cleartext, etc... basically any information that could be grabbed from syslog post-processing + smtpctl subcommands output. monitoring various timings would be nice too. the idea is to graph pretty much everything possible on a smtpd instance to spot things we wouldn't spot otherwise.

we'd

[2017-07-29 21:12] poolpOrg commented on #807
Unfortunately it can't :-(

scan-build can be plugged into CI jobs, that would work, however we have limited quota on coverity as I realized when I wrote a small build bot ...

[2017-07-29 21:53] alexsaezm commented on #806
For parsing a syslog and create graphs, you can use tools like ELK or Prometheus. One of the problems is that, AFAIK, there is no travis-like option (aaS and cheap)

And, another question. Where do you perform those tests? I guess you have a testing machine...

I want to help the project but I know very little about your workflow. Where can I read about this things?

[2017-07-29 22:10] jirutka commented on #805
I’ve tried to configure it, but found out that it will be a bit more complicated in the case of OpenSMTPD. I’m going to a vacation tomorrow, I can get back to it in one week.

[2017-07-29 22:33] yonas commented on #798
@poolpOrg Logs:

[code]

Yes, this is the packaged version:

[code]

[2017-07-30 14:47] poolpOrg commented on #806
we have a test machine that's about all.

so far we used kibana but it required a separate machine because under stress the test machine may be brought to its knees, i'm curious what solutions devops can come up with and then we can determine if they are doable for us

[2017-07-30 19:31] korylprince commented on #791
Thanks for the update!

[2017-07-30 20:15] aikudinov commented on #798
Check /etc/resolv.conf just in case.
Could be some weird config with blank resolv.conf, but local dnsmasq would respond to dig, which seems to have localhost fallback.

[2017-07-30 20:17] yonas commented on #798
@aikudinov I had this at the top:

[code]
and 931 lines of this:
```options rotate```

[2017-07-30 20:20] yonas commented on #798
@aikudinov Wow, the `options rotate` was the issue, thanks! :)

[2017-07-30 20:21] yonas commented on #798
@poolpOrg This came up after a quick Google search, although I'm not using Redhat:

https://bugzilla.redhat.com/show_bug.cgi?id=841787

[2017-07-30 20:26] aikudinov commented on #798
None of this servers respond for me, but maybe they do from your host/linode net.
Either way, it works for you now.

[2017-07-31 08:58] poolpOrg commented on #798
I don't think this is an issue.

Basically what happened is that libasr, upon which OpenSMTPD depends, considers your resolv.conf to be way too large to be a valid resolv.conf and errors out when loading it.

It turns out that libasr was right and your resolv.conf was indeed too large to be a valid resolv.conf due to a glibc bug repeating the same statement hundreds of times over and over. The syn

[2017-07-31 09:09] yonas commented on #798
@poolpOrg IMO, ideally libasr would either give a specific error code for that, or an error message saying that resolv.conf was too large to be valid. Then OpenSMTPD would pass that error message to the user via the logs.

[2017-07-31 09:25] poolpOrg commented on #798
Yes I agree, the behavior should not be fixed, it is correct as is, but there should be a hint given back to the caller (in this case OpenSMTPD) so that logs would pinpoint this.

@ericfaurot ?

[2017-07-31 12:16] alexsaezm commented on #806
Can I reproduce your testing machine configs? How do you perform the test and how do you create the environment? I will try to create a testing environment and evaluate some tools if you want.

[2017-07-31 17:29] poolpOrg commented on #556
No update, no.

The problem is that it's not just about replace the functions in ssl.c

We need to rewrite an ECDSA engine similar to the one reyk@ wrote for RSA and this is not only tricky but requires time which is currently spent on another big project with OpenSMTPD.

We still want to do it but it's not going to happen soon unless someone volunteers to help writing the engine.

[2017-07-31 20:55] rockyluke commented on #806
Hi @poolpOrg maybe you can try to install https://github.com/firehol/netdata on your servers. I think you'll love it !

[2017-08-01 22:39] poolpOrg commented on #772
work has started in the branch new-config:
https://github.com/OpenSMTPD/OpenSMTPD/tree/new-config

as of today the following grammar is already parsed correctly:
https://gist.github.com/poolpOrg/1eaa948d5bfd82a49e1851b9dadc746e

while at it, I'm making a pass to clarify error messages and make them more uniform

[2017-08-02 07:33] poolpOrg commented on #772
here's a sample of the dispatchers grammar that's correctly parsed:

[smtpd-dispatchers.conf.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/1193002/smtpd-dispatchers.conf.txt)

[2017-08-02 20:51] jdebp commented on #787
You'll find the same rendering in on-line versions of that manual [such as this one](https://www.mankier.com/8/smtpd.opensmtpd).  It's unlikely to be the packaging, given that [Ubuntu simply re-uses the Debian source](https://packages.ubuntu.com/source/artful/opensmtpd) with no further patches here, and more likely to be some sort of odd problem with `groff -mandoc`, which tries to auto-detect whe

[2017-08-03 07:09] poolpOrg commented on #787
Debian and Ubuntu don't use the same groff ?

I'm going to setup an Ubuntu shortly to understand and fix this issue

[2017-08-03 15:48] ericfaurot commented on #755
Done.

[2017-08-03 15:48] #755 closed

[2017-08-03 23:32] poolpOrg opened #808 "mailaddr matching is kinda broken"
Not really but kinda.

If a table contains a mailaddr with a blank domain to perform a user-part matching, the mailaddr_match() function will fail to match (ie: gilles should be matched by gilles@bleh, according to mailaddr semantic, but it isn't).

I think the proper fix is the following (tested and fixes issue):
[code]

... but quite frankly at this late hour, I'd rather open a bug report and le

[2017-08-05 03:12] snimmagadda commented on #713
Could we borrow an idea from RFC 3986 (Generic URI Syntax) which mandates IPv6 address literals to be enclosed within square brackets for disambiguation?

[2017-08-07 15:04] ouafnico opened #809 "invalid virtual ip or interface: all"
Hi

Using Debian 9 (stretch), with opensmtpd from repos (6.0.2p1-2), I got this error when starting service:

Aug 07 17:00:19 debian systemd[1]: Starting LSB: opensmtpd Mail Transport Agent...
Aug 07 17:00:19 debian opensmtpd[1076]: Starting MTA: failed!
Aug 07 17:00:19 debian opensmtpd[1076]: invalid virtual ip or interface: all

When I use a line in conf like "listen on all ...".

[2017-08-07 17:04] poolpOrg commented on #809
This is not a bug and the message is actually quite accurate :-)

"listen on" expects an interface name or an IP address, "all" is neither one so this is invalid.

[2017-08-07 17:13] ouafnico commented on #809
Oh... I saw the "all" example indeed, but i though it will works on linux systems ;p
I will replace with ip address, will the service start without fail if the ip address is not yet added (during boot the opensmtp service start some seconds before the interface get ip address.)

[2017-08-07 17:13] #809 closed

[2017-08-08 08:19] cyphunk commented on #785
thank you for the feedback. it helped. for future reference: in the process of debugging various setup issues I included that chmod 640 command which changed the permissions of the archive cert files to insecure values, which is why openstmp complained.

[2017-08-08 23:35] poolpOrg commented on #772
HUGE progress made in that area.

The last two layers that require to be adapted are MTA and bounces which I'll start working on starting tomorrow.

[2017-08-09 08:06] Zelest opened #810 "smtpctl update table reports successful even if the table does not exists."
The user will get a "command succeeded" when running "smtpctl update table foo", even if the table **foo** doesn't exists. A warning is properly logged, but never shown to the user.

Example:

[2017-08-10 06:23] poolpOrg commented on #757
This issue has been solved while working on #772, I'll close your ticket because it is now referenced in the other ticket and I'll track progress of the config rewrite there.

The fix will not be included in OpenSMTPD 6.2 because it's too close, however it will be part of snapshots we publish right after 6.2 release and will be included as part of OpenSMTPD 6.3

[2017-08-10 06:23] #757 closed

[2017-08-10 06:42] rghv commented on #787
[code]

confirmed on ubuntu xenial (16.04)

[2017-08-10 23:08] poolpOrg commented on #766
This issue is being handled in ticket #772 with the grammar rewrite, it is actually already fixed in the new-grammar branch that I committed but requires a MTA fix which @ericfaurot is currently working on.

I'll close this ticket as it is now referenced in the other one.

[2017-08-10 23:08] #766 closed

[2017-08-27 19:23] pvagner commented on #227
Is there a way I can retrieve the data for this mapping table from LDAP? I can't figure this out as it appears ldap backend only supports predefined set of table types.

[2017-08-28 21:11] mikygee commented on #806
Hello Gilles,

Would it be possible to normalise the syslog messages
* For example "Remove for <session>"... would be renamed "<session> removed"
Many messages start with the session name, not this one.
* could you show your logstash rules ?
* Having smtpd monitored by snmp

I think the problem with kibana/syslog is that it generates many syslogs just for one mail that is sent. That's why the serv

[2017-08-28 21:21] mikygee opened #811 "Bug: Smtpd hangs without output"
Smtpd hangs and doesn't produce output error message when misconfigured
Version: 6.0.0

* smtpd.conf
table aliases file:/etc/mail/aliases
listen on lo0
accept for local alias <aliases> deliver to mbox
accept from local for any relay via smtp://10.1.1.1

* The resolv.conf file should be also faulty and point to a non existant DNS
nameserver 3.3.3.3

The entry shouldn't correspond to your machine
#

[2017-08-29 08:32] ericfaurot commented on #713
I committed the fix we discussed. see http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/usr.sbin/smtpd/table_static.c?rev=1.17&content-type=text/x-cvsweb-markup

[2017-08-29 08:32] #713 closed

[2017-08-30 20:09] pvagner opened #812 "extras: table-ldap - bind with user credentials given during smtp auth"
I am trying to setup opensmtpd + dovecot + openldap email system on arch linux.
This blog article from 2015 is the only usefull source of info I was able to gather on this topic. I mean this one: https://www.tumfatig.net/20150718/opensmtpd-dovecot-and-ldapd-on-openbsd-5-7/
After experimenting a bit with similar config featured in the article and finally finding this unanswered post from september

[2017-09-07 06:51] dR3b commented on #806
Prometheus +1

[2017-09-19 16:03] jeroenp commented on #801
I'm seeing this in a piece of software using the Python 2.7 smtplib module, where quit() waits "forever" on a reply.

Is there a workaround?

https://github.com/python/cpython/blob/2.7/Lib/smtplib.py#L773

[2017-09-20 08:50] poolpOrg commented on #801
can you give the opensmtpd code in github a try ?
we made an SMTP engine cleanup which I just merged.

[2017-09-20 14:49] jeroenp commented on #801
Works like a charm!

[2017-09-30 17:50] dfateyev opened #813 "portable: reallocarray interpose issue"
From the RHBZ bug:

More details are available in Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1480303

[2017-10-11 12:11] greecemunky opened #814 "Message-Id header not added if missing and listener port is 587"
In a new setup (OS up-to-date Debian testing, OpenSMTPD 6.0.2p1 from Debian packages), Message-Id is not being set.

I started fresh, compiling OpenSMTPD 6.0.2p1 from source to debug.  The following needs to be changed.

File: smtpd/smtp_session.c

From:
```if (s->listener->local || s->listener->port == 587) {```

To:
```if (s->listener->local || ntohs(s->listener->port) == 587) {```

Works as exp

[2017-10-11 23:11] greecemunky commented on #814
Patches against current master branch:

If keeping "missing header" check for Date within if block:

[code]

Or, if moving "missing header" check for Date outside if block:

[code]

[2017-10-12 22:15] ryanakca commented on #787
I can't reproduce on Debian, but I'm also running a package several versions more recent than rghv's, so this is not surprising.
@rghv , can you reproduce this with the most recent version of the manpage? You can fetch the most recent version in Debian and extract it to `tmpdir` by going
`curl -s http://ftp.debian.org/debian/pool/main/o/opensmtpd/opensmtpd_6.0.2p1-2_amd64.deb | dpkg-deb -X - tmpdi

[2017-10-12 22:31] ryanakca commented on #738
Debian is planning on removing OpenSSL 1.0 from the archives in time for the next release[0]. Has there been any progress on porting OpenSMTPD to OpenSSL 1.1? At the very least, is the patch I proposed above correct / can I carry it around in Debian until OpenSMTPD figures out what to do regarding maintaining compatibility with multiple SSL libraries? (I don't want to risk introducing any security

[2017-10-31 21:58] Ekleog opened #815 "Support tagging for `listen on socket`"
It looks like once, mail sent via the local enqueuer was tagged `local` (https://github.com/OpenSMTPD/OpenSMTPD/issues/295 https://github.com/OpenSMTPD/OpenSMTPD/issues/295). However, this sentence no longer appears in `man smtpd.conf`, so I assume it has become the `from local` argument.

However, `from local` also matches mail submitted via eg. `127.0.0.1:25`... or mail submitted via `127.0.0.1:

[2017-11-01 00:45] Ekleog commented on #815
Actually I re-read the docs, and it does still state that incoming messages are tagged `local` (mea culpa for having grepped through the docs to find the message from the commit).

However, it appears to trigger a syntax error when trying to use it? I'm getting a syntax error for
[code]

[2017-11-01 02:47] Ekleog commented on #815
More investigation led me to https://github.com/OpenSMTPD/OpenSMTPD/blob/portable/smtpd/parse.y#L2088 ; so I assume the `local` tag functionality is still supposed to be present and different from the `from local` tag.

However, maybe it is an issue in the parser, introduced with the introduction of the `local` keyword?

In which case there would be three options:
 *  The easiest: change the `loca

[2017-11-12 18:30] bl1nk opened #816 "opensmtpd cannot read passwd-file on alpine linux"
Hey there,

I decided to redo my personal mail setup to use a passwd-file instead of system users. I started with a simple config based on [this](https://www.opensmtpd.org/faq/example1.html).
Dovecot works fine with the passwd-file provided, opensmtpd crashes on start.

[code]

My passwd-file only has one entry for now which is

[code]

I am running `opensmtpd-6.0.2p1` and tried to use `opensmtpd-

[2017-11-20 14:30] gonzalo- opened #817 "Can't send mails to myself"
OpenBSD 6.2-release
OpenSMTPD 6.0.0

[code]

virtuals file:

[code]

smtpd -dv -f /etc/mail/smtpd.conf -T smtp output:

[code]

[2017-11-20 14:44] poolpOrg commented on #817
@gonzalo- you should know better:

1- your bug report is actually a configuration issue
2- you didn't enclose essential information such as your hostname and your aliases mapping
3- you didn't enclose -T rules trace which would have identified the rule your matched
4- you didn't enclkose -T expand trace which would have identified the expansion

This should really be a mail in misc@opensmtpd.org o

[2017-11-20 14:44] #817 closed

[2017-11-20 14:52] gonzalo- commented on #817
Yes, sorry @poolpOrg

Will check the config again and sent a mail to misc@opensmtpd.org

[2017-11-27 08:39] snimmagadda commented on #810
A fix has been committed to the OpenBSD tree. Thanks for the report.

[2018-01-03 16:34] biotecs commented on #816
Might be a problem that there is no passwd table anymore due to: https://man.openbsd.org/smtpd.conf#table

Try to change your passwd to file:

smtpd.conf:
[code]

/etc/mail/passwd:
[code]

[2018-01-03 16:51] biotecs opened #819 "Missing support for RFC4954 AUTH LOGIN initial-response"
Due to RFC4954 the "AUTH LOGIN" smtp command can be used with username as initial response. In this case the state should change to:
https://github.com/OpenSMTPD/OpenSMTPD/blob/4d34dfe9cffe5683574342d7bbef6a7c9de00e11/smtpd/smtp_session.c#L1688

and return without doing:

https://github.com/OpenSMTPD/OpenSMTPD/blob/4d34dfe9cffe5683574342d7bbef6a7c9de00e11/smtpd/smtp_session.c#L1689

In my opinion

[2018-01-03 20:42] bl1nk commented on #816
By changing that the passwd file format is not recognized by dovecot anymore, right?

I wanted to use the `table-passwd` which is included in OpenSMTPD/OpenSMTPD-extras [here](https://github.com/OpenSMTPD/OpenSMTPD-extras/tree/master/extras/tables/table-passwd) so dovecot and opensmtpd share one username/password file.

[2018-01-03 21:23] biotecs commented on #816
Yes that's true and I forgot about table-passwd in extras. Could you provide your smtpd.conf?

[2018-01-04 09:26] bl1nk commented on #816
Sure
[code]

[2018-01-04 14:08] biotecs commented on #816
Do you use a docker installation with Alpine? If so could you give me the link to the hub, so I can test it?

[2018-01-04 14:11] bl1nk commented on #816
I run alpine on a vps with opensmtpd installed via `apk add opensmtpd opensmtpd-table-passwd`. No docker involved.

[2018-01-08 17:25] snimmagadda commented on #810
The code is now sync-ed up on github and will be part of 6.0.3 release.

[2018-01-08 17:25] #810 closed

[2018-01-09 14:25] MrSorcus commented on #773
What the status now? Thanks.

[2018-01-20 21:06] dfateyev commented on #813
This change should be pretty straightforward.
@poolpOrg could you check it, perhaps?

[2018-01-21 11:33] poolpOrg commented on #813
ok, will be merged shortly and part of next snapshot

[2018-01-21 11:43] poolpOrg commented on #813
committed, and while at it I added a check for explicit_bzero() as mentioned in the bugzilla ticket.

[2018-01-21 11:43] #813 closed

[2018-01-21 19:58] Vaelatern opened #826 "Bug: table format as documented doesn't work"
From the man page (`smtpd.conf(5)`)
[code]
I wanted to use this for a `senders` table,
[code]
But when I run `smtpd -n` I get:
`smtpd: table_create: backend "addr1@example.com" does not exist`

[2018-01-21 20:13] Vaelatern commented on #826
I should note that I see this behaviour on the portable version.

[2018-01-21 20:18] ericfaurot commented on #826
You are missing the curly brackets:

`table foo { "bar", "baz" }`

[2018-01-21 20:49] Vaelatern commented on #826
Oh, right. Thanks.

[2018-01-21 20:49] #826 closed

[2018-01-22 21:51] poolpOrg commented on #633
OpenSMTPD has been ported to OSX:

https://twitter.com/PoolpOrg/status/955553689690918912

[2018-01-22 21:51] #633 closed

[2018-01-22 21:54] poolpOrg commented on #807
went nowhere, i'll setup something at work

[2018-01-22 21:54] #807 closed

[2018-01-22 21:55] poolpOrg commented on #806
currently working on it using collected + facette

[2018-01-22 21:55] #806 closed

[2018-01-22 21:57] poolpOrg commented on #805
went nowhere but I'm setting up something at work now

[2018-01-22 21:57] #805 closed

[2018-01-22 21:57] poolpOrg commented on #801
this ticket should have been closed since then,

[2018-01-22 21:57] #801 closed

[2018-01-22 22:49] poolpOrg commented on #772
This is mostly done except for a regression in aliases resolution, being investigated.

[2018-01-23 07:06] dR3b commented on #806
Why are using this "old" tools. There are really better options like Prometheus!

https://github.com/prometheus/prometheus/releases/download/v2.1.0/prometheus-2.1.0.openbsd-amd64.tar.gz

[2018-01-23 12:28] mikygee commented on #806
Hello,

I think that opensmtpd should just offer an interface with the snmpd daemon.

The tools (Prometeus, collectd, etc.) should poll the snmpd in order to retrieve statistics
Opensmtpd is not a monitoring app, and should let the snmpd answer to stats questions.

Do you agree ?

[2018-01-27 09:47] shunyiyi opened #827 "Recipient receives same mail again and again"
_mta: 0x1bd04436b6f0: MTA_READY -> MTA_MAIL
mta: 0x1bd04436b6f0: >>> MAIL FROM:<myname@mydomain.org>
mta: 0x1bd04436b6f0: IO_LOWAT <io:0x1bcfe8ee3100 fd=18 to=300000 fl=W ib=0 ob=0>
mta: 0x1bd04436b6f0: IO_DATAIN <io:0x1bcfe8ee3100 fd=18 to=300000 fl=R ib=8 ob=0>
mta: 0x1bd04436b6f0: <<< 250 ok
mta: 0x1bd04436b6f0: MTA_MAIL -> MTA_RCPT
mta: 0x1bd04436b6f0: >>> RCPT TO:<receiver@163.com>
mta: 0x1bd

[2018-01-27 21:48] ericfaurot commented on #827
Hmmm. We should indeed change that behavior and accept the reponse if the status is correct to avoid that situation. But in this particular case, I don't see where the "non-printable character" is...

[2018-01-29 15:33] whataboutpereira opened #828 "sendmail.opensmtpd problem (CentOS 7 / SELinux)."
Hello!

I'm having a bit of trouble with OpenSMTPD sendmail (on CentOS 7).

Here is the log from dovecot trying to send a vacation reply via sendmail.

A while ago I had the exact same problem with the nightly logwatch script that tried to use sendmail. It also failed with IO error. However when I triggered the logwatch script manually, then it worked.

[root@bwo dovecot]# stat /usr/sbin/sendmail

[2018-01-29 18:34] dfateyev commented on #828
Haven't faced this issue. Could you test packages from epel?
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2018-e79327a816
https://koji.fedoraproject.org/koji/taskinfo?taskID=24496682

[2018-01-29 18:45] whataboutpereira commented on #828
I'm currently running 6.0.3p1 that I built from source, however I had the same issue with Logwatch with 6.0.2 from epel.

[2018-01-29 18:59] whataboutpereira commented on #828
Unfortunately still the same with the epel package (thanks btw! :) ).

[2018-01-29 19:05] whataboutpereira commented on #828
Okay, I turned SELinux Enforcing off for a try and it worked then.

There is nothing in the audit.log and I'm stumped on how to get it working with SELinux. :/

[2018-01-29 21:58] whataboutpereira commented on #828
As a workaround I changed Dovecot to use submission_host = 127.0.0.1

Looking around I saw postfix et al having lots of different SELinux settings, but none for OpenSMTPD.

[2018-01-30 09:24] whataboutpereira commented on #828
I just tried with a clean CentOS 7 system as well. Removed postfix, installed the latest OpenSMTPD from https://koji.fedoraproject.org/koji/taskinfo?taskID=24496682, still the same error.

[2018-01-31 09:01] whataboutpereira commented on #828
So I got to delve deeper into the internals of SELinux.

I had to disable_dontaudit to see all the denial message from it.

I got mail via sendmail.opensmtpd working when I added the following SELinux modules:

The IO errors are gone now and I'm finally starting to think I may start upgrading our old CentOS 5 server with QMail to CentOS 7 and OpenSMTPD! :)

[2018-01-31 09:49] dfateyev commented on #828
Glad to see you got it working! Although I'm not a SELinux guru, so cannot decide whether the rules above are fully correct. Hopefully, others may find them usable.
As for EPEL package update, you also can leave karma for the update if the package works for you.

[2018-01-31 10:01] whataboutpereira commented on #828
Done, with a comment once I got past the Captcha. :)

SELinux is such a hassle, but it's better than nothing I suppose!

[2018-01-31 10:03] whataboutpereira commented on #828
Enlisting the aid of a SELinux guru wouldn't be bad though. I noticed sendmail.postfix was using a different SELinux contect to sendmail.opensmtpd.

[2018-02-01 05:58] dgwynne commented on #683
i just got bitten by some long lines other people were sending. who do i bribe for progress on this?

[2018-02-01 18:22] b01t commented on #819
This breaks the way the .Net SmtpClient authenticates, meaning a bunch of tools written in .Net can not authenticate with this server. Please (re-) fix? :)

[2018-02-01 20:33] poolpOrg commented on #683
No bribing required, it' s taking time because it has a few tentacles and requires rewriting some tricky code... but it's almost done for real.

[2018-02-06 17:56] poolpOrg commented on #683
I'm preparing a quick fix to workaround and commit on Sunday.

[2018-02-16 12:41] thctlo commented on #791
Hai, im setting up this, and this works fine.
https://wiki.rtzra.ru/software/postfix/postfix-dualdelivery

[2018-02-18 01:54] xciml commented on #738
Couldn't LibreSSL be (optionally) bundled and statically linked with the OpenSMTPD portable version? This would prevent this type of shenanigan, considering how many different environments it would be expected to run on, all shipping varying SSL implementations and versions.

[2018-02-19 15:19] Anachron commented on #773
Any updates?

[2018-02-19 15:34] poolpOrg commented on #738
LibreSSL now ships with the OpenSSL 1.0.x AND OpenSSL 1.1.x API, we will adapt the code so that we can build against OpenSSL 1.1.x API and drop support for OpenSSL 1.0.x, I'll publish a new release shortly

[2018-02-19 15:54] ArchangeGabriel commented on #738
Bundling libs is almost always a bad idea, but for security libs that’s definitively wrong. You would have to constantly update for security fixes.

But if we can have a new release with OpenSSL 1.1.x support soon, that would be ideal.

I’m opening new issues for related bonus points I’m thinking about. ;)

[2018-02-19 15:56] ArchangeGabriel commented on #676
Any news on this? Maybe with the switch to OpenSSL 1.1.x API?

[2018-02-19 15:58] ArchangeGabriel opened #831 "Ability to choose used crypto curves"
Since we’re going to have OpenSSL 1.1.x API available soon, I might want to switch my server to X25519 only for KEX. OpenSSL supports setting usable curves (through `SSL_CTX_set1_curves_list` and `SSL_set1_curves_list` AFAIK), and other software (e.g. `nginx`) do it.

Adding such an option to OpenSMTPD would be nice. ;)

[2018-02-19 16:12] ArchangeGabriel opened #832 "Separated SSL settings for different ports"
This might not be worth it, but I’m starting this discussion just in case.

My use case is the following: I want my e-mail users to be able to send mail to the reasonably secure outside world, which means I require TLS but do not enforce a too strict set of ciphers, but I would like to restrict as much as possible the available SSL ciphers and curves (for enhanced security) between my users and th

[2018-02-19 22:14] lyn1337 opened #833 "Crash on user authentication"
I'm experiencing a crash when I'm successfully authenticated and try to send.

[code]

[2018-02-20 01:59] greecemunky commented on #833
What does your config look like with respect to auth?

See if running one of the following commands instead provides more output during the auth/crash.

`smtpd -dv -T lookup`
`smtpd -dv -T all`

[2018-02-20 13:55] lyn1337 commented on #833
@greecemunky
[code]

[2018-02-20 14:21] greecemunky commented on #833
Try changing

`table creds "/etc/smtpd/mailcreds"`

to

`table creds file:/etc/smtpd/mailcreds`

[2018-02-20 15:42] lyn1337 commented on #833
@greecemunky
unchanged results

[2018-02-20 15:45] lyn1337 commented on #833
@greecemunky
unchanged results

[2018-02-20 20:40] greecemunky commented on #833
What does your creds file look like?  Obfuscate the details before sending.

What’s your creds file’s permissions and who’s its owner/group?

Have you tried running smtpd with the suggested arguments?  It might provide more debugging output.

[2018-02-21 00:02] lyn1337 commented on #833
[code]

root:root 0444
I played with permissions (0777) already; no use.

I think the only thing it did was listing the content of all loaded tables and the creds file.

[2018-02-21 12:37] greecemunky commented on #833
I've replicated your setup as well as I could and it's crashing for me, too.  I attached strace to existing subprocesses and it appears to be the `lookup` process segfaulting (SIGSEGV) resulting in all terminating.

I believe it could be related with the crypt_checkpass function, in particular:

https://github.com/OpenSMTPD/OpenSMTPD/blob/b4921b15d80bf16304380bec28a004250b665cdf/openbsd-compat/cry

[2018-02-21 13:08] greecemunky commented on #833
A guess is that `goodhash` in `crypt(pass, goodhash)` should only be the salt (not salt+hash), and as such returns NULL.

http://man7.org/linux/man-pages/man3/crypt.3.html#RETURN_VALUE

[2018-02-21 13:08] lyn1337 commented on #833
@greecemunky
Thank you very much for your efforts.

What would a workaround look like to be able to safely send out mail for now?

[2018-02-21 14:17] greecemunky commented on #833
I think the best option is to get it fixed.

First, need to obtain the salt - start of `goodhash`, through to 3rd `$`, inclusive.  Then, call `crypt(pass, salt)`.

https://stackoverflow.com/a/2180446 may be a starting point (I've not been able to find better), but I don't know C so I don't want to make things worse.

[2018-02-21 14:56] poolpOrg commented on #814
As mentioned in the PR, I think the bug lies elsewhere, the code here reads correct but requires you to do a conversion that should not be necessary.

The reason is that parse.y does htons() on the port when assigning it to the listener, whereas it should stay in host order and only be converted to network order before the bind() call, this way the code in smtp_session.c would be correct as is whi

[2018-02-21 15:04] poolpOrg commented on #827
@ericfaurot wasn't this committed and synced to github ?

[2018-02-21 15:41] jnbr commented on #833
I can reproduce the error, too.
Calling `crypt(pass, goodhash)` should be fine. See section NOTES in the man page about the salt.

I added a check that the returned value of `crypt(pass, goodhash)` is not `null`. This is not the case.
The segfault happens however, when the returned value of `crypt()` get's dereferenced in `strcmp()`.

I can only reproduce this if linking with `-pie` / configuring

[2018-02-21 15:57] lyn1337 commented on #833
I'm baffled this issue wasn't reported earlier, I've tinkered with my setup for some time already, thinking it was layer8.

[2018-02-21 15:58] lyn1337 commented on #833
I'm baffled this issue wasn't reported earlier, I've tinkered with my setup for some time already, thinking it was layer8.

[2018-02-21 15:58] lyn1337 commented on #833
I'm baffled this issue wasn't reported earlier.
 I've tinkered with my setup for some time already, thinking it was layer8.

[2018-02-21 22:37] jnbr commented on #833
from `./configure`
[code]

from `make`
[code]

This looks like `crypt.h` gets detected but not included in `crypt_checkpass` leading to undefined behaviour (which apparently works out as long `--with-pie` is not used).

Setting `-DHAVE_CRYPT_H` in `CFLAGS` results in a working binary (with pie).

So the remaing step is to check, why `HAVE_CRYPT_H` is not defined in `crypt_checkpass`.

[2018-02-21 22:53] greecemunky commented on #833
@jnbr Thanks for the correction, and for your deeper dive into this.

All my efforts so far are mostly stabs in the dark, but if I find time I'll have another play.

[2018-02-22 01:27] jnbr commented on #816
this looks similar to #833

[2018-02-22 10:29] whataboutpereira opened #836 "smtpd crashes on authentication with null password."
I'm currently using table sqlite and the database has users that are not supposed to log in with null passwords. Trying to authenticate such a user however will crash the smtpd process.

It's probably unintentional?

I've now changed the sqlite query to not return data for a users with null passwords.

debug: lka: authenticating for credentials:test@bwo.mrstuudio.ee
lookup: lookup "test@bwo.mrstuu

[2018-02-24 18:47] edgarpettijohn opened #838 "table socketmap error"
I'm trying to use the socketmap from extras. It connects to the socket but doesn't send data resulting in an error. I am planning on using the socketmap table eventually. I was trying to see what value 'name' would have. I'm not sure what it will be, but it seems it should be configurable similar to the postmap command below. So that the smtpd.conf part would look more like 'table test socketmap:/

[2018-02-25 01:16] edrozenberg commented on #749
My offline queue is not getting processed, and I'm not sure if it is a related issue, or something different. Thanks in advance for any hints or "dummy you're doing it wrong" :)

Attaching my details below.

OS Linux Slackware64-current (aka 15.0)
opensmtpd-6.0.3p1-x86_64 (compiled from source)

[code]

[code]

[code]

[code]

[code]

[code]

[2018-02-25 08:58] jdelic commented on #749
@edrozenberg Just as an observation: it seems to me that opensmtpd is unable to process those entries

[code]

because they are mode `0600` owned by `root`, so opensmtpd is unable to open them. It might be worthwhile to file a new ticket instead of commenting on this old one.

Does `smtpctl show queue` pick up on these messages?
What happens if you `chmod g+rw` them?

#660 is another old ticket th

[2018-02-26 03:25] edrozenberg commented on #749
@jdelic thanks for your suggestion. I'll be filing a new ticket soon. I did try the permissions changes, and also installed a completely different Linux (Arch) with a slightly different version of opensmtpd and had the same issues there with offline.

[2018-03-03 03:31] edrozenberg opened #839 "Portable - offline not working (tried 6.0.2p1 and 6.0.3p1)"
I'm not able to make offline functionality work on Slackware Linux w/compiled 6.0.3p1, and have also tried Arch Linux w/ its packaged 6.0.2p1 setup. I also looked at how OpenSMTPD is setup on FreeBSD, with no further insights as to the problem. Online email sending via relay works perfect, on several different servers with different relay hosts. No problems with online at all.

Have been at this f

[2018-03-03 03:39] edrozenberg commented on #839
In case it matters, I'm using ```libasr-20180224_860f733-x86_64```

[2018-03-03 04:44] edrozenberg commented on #839
For comparison I also tried on OpenBSD - offline works fine there.
It knows it is running on its "home" OS so works fine. :)

**OpenBSD info below, for comparison with Linux above.**

mutt (error is not really a problem):
[code]

/var/spool/smtpd:
[code]

/var/spool/smtpd/offline:
[code]

After running smtpd -dv, message is queued as expected, and removed from offline.
[code]

[2018-03-03 04:56] edrozenberg commented on #839
Think I found the problem, and offline appears fixed on Linux now, with these changes below. I had to do a chmod to add back the set gid flag, after changing the group from root to smtpq on the smtpctl binary:

[code]

[2018-03-04 16:50] #833 closed

[2018-03-05 00:07] edrozenberg opened #840 "Offline send returns code 75, leading to MUA errors (portable)"
When using mutt or (al)pine to send email (via sendmail) with smtpd offline, opensmtpd returns code 75 (deferred).

This leads the MUA's to think the email was not properly transmitted, and the MUA's remain in the message compose screen.

Meanwhile the messages *were* properly added to ```/var/spool/smtpd/offline``` and will be going out when smtpd runs next time.

Alpine shows:
[code]

Mutt shows

[2018-03-05 00:29] edrozenberg commented on #840
Error code 75 also visible via sendmail CLI:

email.txt:
[code]
[code]
However, using ```mail``` returns error code 0:
[code]

[2018-03-05 00:41] edgarpettijohn commented on #840
I don't know how correct it is but this should do what you want.

Index: enqueue.c
===================================================================
RCS file: /cvs/src/usr.sbin/smtpd/enqueue.c,v
retrieving revision 1.113
diff -u -p -u -r1.113 enqueue.c
--- enqueue.c   3 Jul 2016 14:30:33 -0000       1.113
+++ enqueue.c   5 Mar 2018 00:39:21 -0000
@@ -867,7 +867,7 @@ enqueue_offline(int argc, cha

[2018-03-05 00:45] edgarpettijohn commented on #840
[enqueue.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/1779154/enqueue.txt

I think the attached diff will do what you want.

[2018-03-05 00:56] edrozenberg commented on #840
@edgarpettijohn that looks like it would work great, thank you very much! I'm going to test it soon.

Meanwhile I found a workaround: configure MUA's to use the "mail" binary as the sendmail program. The 'mail' binary returns 0 on offline send complete.

Mutt configuration:
[code]

(Al)pine configuration:

- Start Alpine
- (S)setup -> (C)onfig
- w  (word find/search), then type: Sendmail Path
- Pr

[2018-03-05 01:17] edrozenberg commented on #761
I also had this issue and found a workaround, by configuring Alpine/mutt to use ```mail -t``` as the "sendmail program" for outbound email.

I documented the mutt and alpine configuration steps I followed a few comments down the page at https://github.com/OpenSMTPD/OpenSMTPD/issues/840

Note that when using the ```mail``` binary with opensmtpd **not running**, mail will return an "OK sent" essenti

[2018-03-05 01:23] edrozenberg commented on #840
@edgarpettijohn based on this issue https://github.com/OpenSMTPD/OpenSMTPD/issues/301 it appears opensmtpd ```sendmail``` works as intended to return an error code on offline sent.

For that reason I will not pursue patching sendmail, and instead will continue using ```mail -t``` which returns rc=0 on offline sent.

Users who want an error returned for offline sent can use ```sendmail -t```, and u

[2018-03-05 01:31] edrozenberg commented on #839
If permissions on ```smtpctl``` are indeed the issue, I'm not sure if this is something the OpenSMTPD portable Makefile would fix, but currently I'll be fixing these permissions in my Linux package build script so from my side I'm ok.

[2018-03-07 07:53] poolpOrg commented on #827
https://github.com/OpenSMTPD/OpenSMTPD/commit/abd105827fa9491b58dfce6a536bafd427846446#diff-2f8e7073c636fc412210c11590d75ae8L711

This was fixed in a recent commit, closing.

[2018-03-07 07:53] #827 closed

[2018-03-07 07:55] poolpOrg commented on #683
we've bumped considerably the line limit, this should fix user issues but itś  not the proper way to fix it which is still being worked on.

[2018-03-07 07:57] poolpOrg commented on #840
exactly, this is not considered an issue, offline means that the delivery is deferred and the sender must be acknowledged by default.

closing

[2018-03-07 07:57] #840 closed

[2018-03-07 08:00] poolpOrg commented on #839
I don't know how you ended up with smtpctl not being setgid but this is clearly a user error as the smtpctl install Makefile explicitely sets it:

https://github.com/OpenSMTPD/OpenSMTPD/blob/portable/mk/smtpctl/Makefile.am#L79

closing

[2018-03-07 08:04] poolpOrg commented on #836
not intentional no, you found a bug and will commit a fix shortly.

[2018-03-07 14:40] edrozenberg commented on #839
@ poolpOrg I failed to explain the issue properly. The issue is **wrong group** on smtpctl.

After configure, make, make install:
[code]

Needs to be fixed to be:
[code]
(the reason I had to set gid again is that after I myself fix group with chgrp, the set gid flag gets lost and I had to add it back. The Makefile problem is **group** not being set properly)

Also see this problem in other distro(

[2018-03-07 14:51] edrozenberg commented on #839
Now I realize ```make install``` would not know what group gid to use for the ```chgrp``` on smtpctl, because the gid for group ```smtpq``` depends on each distribution. Arch group smtpq gid = 92, Slackware Slackbuilds.org smtpq gid = 271, and other distros are probably all over the map.

The problem is a Linux distro/packager problem - they don't know that they need to set smtpctl group to ```smt

[2018-03-07 15:17] poolpOrg commented on #839
ok indeed, the initial description made it seem like a local issue with the mode, not the ownership.

I don't think this should be solved at the distro level, this is a Makefile bug on our side, I'll re-open the ticket until I have a fix ready.

[2018-03-07 15:27] edrozenberg commented on #839
@poolpOrg thanks! I'm guessing you plan for Makefile to ```chgrp smtpd smtpctl; chmod g+s smtpctl```

This assumes the packager already has an smtpq group present - I think this is a good assumption. If they don't have this group yet, they'll get an error and they'll know they need to create this group.

[2018-03-07 15:29] poolpOrg commented on #839
there's a configure option to specify a different group, but eitherway we have documented that two users are required and we have a default _smtpq user defined so it will fail to install if packager didn't setup environment correctly.

[2018-03-07 15:30] edrozenberg commented on #839
Totally makes sense thanks!

[2018-03-07 21:39] poolpOrg commented on #819
fix committed to OpenBSD, will be synced to github shortly.

[2018-03-07 21:39] #819 closed

[2018-03-09 09:56] ArchangeGabriel opened #841 "[FR] Security feature: force use of tls for relay excepted for a whitelist of hosts"
As stated in the [smtpd.conf(5)](https://man.openbsd.org/smtpd.conf) man page:

Note that the **tls** and **tls verify** options should only be used in private networks as they will prevent proper relaying on the Internet.

Indeed, use of `tls` makes it impossible to deliver to several hosts. However, not specifying it implies that anyone can MITM the connection by removing the STARTTLS bit from t

[2018-03-12 23:07] ryanakca opened #842 ""smptctl spf walk" enters infinite loop on malformed SPF records"
Certain malformed SPF records will cause `smtpctl spf walk` to enter an infinite loop. Consider, for example, the following SPF record for `autohome.com.cn`:
[code]
Upon encountering this record, `dispatch_txt` in `spfwalk.c` will atempt to parse it, and will follow the inclusion `autohome.com.cn` (lines 189 onwards), and lookup the record all over again, thus entering a loop.

[2018-03-14 21:24] poolpOrg commented on #842
A fix has been committed to OpenBSD, will be synched to the github repo by this week-end, among with other fixes.

Thanks for your report

[2018-03-14 21:24] #842 closed

[2018-03-14 22:28] poolpOrg commented on #814
I have committed to OpenBSD a quick fix so that the upcoming minor release will be working correctly, we'll commit a better fix after the release is tagged as it is a bit more tricky.

I' ll synchronize github with the openbsd repository by this week-end, thanks for your report.

[2018-03-14 22:28] #814 closed

[2018-03-24 09:53] whataboutpereira opened #843 "Differentiate between failed password and inexistent user login attempts in OpenSMTPD logs."
Hello!

I've written a Logwatch script for myself for OpenSMTPD, but there is one thing I really miss in OpenSMTPD logs.

Right now we simply get a message notifying about authentication failures, but it actually doesn't tell us if it's a failed password attempt or a missing user.

smtp event=authentication user=test address=192.168.1.100 host=any.host.com result=permfail

I'm hoping further refin

[2018-04-04 23:20] ryanakca opened #844 "spf walk can be made to print (almost any) arbitrary string"
spf walk can produce garbage output if the SPF record contains garbage. For example, when run on the domain "airtel.com", it will output the line `125.17.112.209-all`, which will cause `pf` to choke if you try to load the output into a table.

spf walk should check that the strings it outputs are legitimate addresses and not garbage. As it is, I strongly suspect a record of the form
[code]
would c

[2018-04-09 16:52] ryanakca commented on #844
The committed fix makes spf walk almost useless, because most large mailers use entries with prefixes, and such entries now get ignored. Please see this pull request https://github.com/OpenSMTPD/OpenSMTPD/pull/845 for a fix.

[2018-04-10 04:59] snimmagadda commented on #844
Right, sorry I missed about prefix notation. Testing your fix now.

[2018-04-11 13:05] chneukirchen opened #846 "Bug: Too strict address parsing"
Using opensmtpd-6.0.3p1 on Linux:

[code]

yields `syntax error in address`.

To the best of my reading of RFC5322, this is a valid address, as `"` are escaped using backslashes inside  `"`. Postfix 3.3.0 also accepts it, <s>as well as opensmtpd 5.9.2.</s>

[2018-04-12 19:58] Sp1l opened #848 "Return-Path not rfc5322 compliant"
Currently, OpenSMTPd just adds
[code]
to messages for mda. This trips up Dovecot 2.3.1, see https://www.dovecot.org/pipermail/dovecot/2018-April/111570.html

Standard indicates that the mail-address should appear in angled brackets.
From https://tools.ietf.org/html/rfc5322#section-3.6.7
[code]

Dovecot is fixing this, but probably better to add to OpenSMTPd too.

[2018-04-13 10:31] Sp1l commented on #848
Duplicate of #847

[2018-04-13 10:31] #848 closed

[2018-04-16 10:27] chneukirchen commented on #846
http://nimmagadda.net/enqueue.diff fixes the issue.

[2018-04-19 21:02] mikygee opened #850 "[RFE] Normalise log format"
version: OpenSMTPD 6.0.4

Hello,

Would it be possible to have fields in the message always in the same order
smtpd[5144]: 0d391a61d29e79b1 mta event=starttls ciphers=version=TLSv1.2, cipher=ECDHE-RSA-CHACHA20-POLY1305, bits=256
smtpd[5144]: smtp-out: Server certificate verification succeeded on session 0d391a61d29e79b1

It would be nice to have the second message like this (session number after t

[2018-04-20 13:09] tdm4 commented on #359
+1  I'd like this option too.
Seeing a lot of spammers connecting with TLSv1.0 now too.

[2018-04-20 13:32] ArchangeGabriel commented on #359
Restricting to TLS 1.2 is easy actually. OpenSMTPD allows setting one SSL parameters: ciphers.

A line like `ciphers ECDHE+CHACHA20:ECDHE+AESGCM`. If you have an SSL lib with ARIA (OpenSSL 1.1.1+) or Camellia GCM, you can add those. If you have TLS 1.3, maybe you can add TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-256-GCM-SHA384:TLS13-AES-128-GCM-SHA256, but in the case of OpenSSL I believe they did

[2018-04-23 09:38] poolpOrg commented on #846
this will be committed soon

[2018-04-23 09:39] poolpOrg commented on #844
@snimmagadda has the fixed version been committed to OpenBSD ?

[2018-04-24 06:31] nerzhul opened #851 "OpenSMTPd exits when looking up userbase into LDAP"
Hello,
i'm trying to implement a properly running opensmtpd relay with LDAP lookup. Currently alias & mail lookup works through the virtual keyword, but when adding userbase keyword with LDAP lookup OpenSMTPD seems to exit.

Here is the startup log + exit log

[code]
Here is my sample & simple configuration

[code]

My environment is the following:

* Debian Stretch (ARM64)
* OpenSMTPD package fro

[2018-04-26 19:09] lattera opened #852 "DNS MX record lookup resulting in NOTIMPL treated as non-recoverable"
I have a rather interesting and unique [setup](https://github.com/lattera/articles/blob/master/infosec/tor/2017-01-14_torified_home/article.md). I have OpenSMTPd sitting behind my Tor-ified network. Tor itself is the authoritative name server for the network.

When smtpd receives a message it needs to relay to another MTA, smtpd tries to do an MX record lookup for the hostname (ie, if I send a mes

[2018-04-27 21:51] lattera commented on #852
I've implemented the workaround, and OpenSMTPd is happy. :)

So, I wonder if OpenSMTPd could fallback to A/AAAA lookup if the MX lookup results in NOTIMPL (rcode: 4) being returned from the DNS resolver.

[2018-05-03 09:32] poolpOrg commented on #772
this is fully done, currently running on all my machines since last week, i'm cleaning up some keywords and rewriting the man page for smtpd.conf before submitting to hackers@ and closing this ticket.

[2018-05-03 09:33] poolpOrg commented on #773
good progress done by sir @ericfaurot, we'll start comitting bits for PoC after #772 is done.

[2018-05-03 09:35] poolpOrg commented on #844
that's been brought to github

[2018-05-03 09:35] #844 closed

[2018-05-03 09:35] poolpOrg commented on #846
that's been brought to github

[2018-05-03 09:35] #846 closed

[2018-05-04 21:17] nerzhul commented on #851
Okay i found the issue it was due a documentation problem. I returned 4 fiuelds instead of 3 in the configuration. But it's not very friendly

userinfo_attributes     uid,uidNumber,gidNumber,homeDirectory

was replaced with

userinfo_attributes     uidNumber,gidNumber,homeDirectory

[2018-05-08 17:42] lattera commented on #852
This simplistic patch fixes this issue.

[opensmtpd-01.patch.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/1985034/opensmtpd-01.patch.txt)

[2018-05-09 04:34] wgraeber opened #853 "OpenSMTPD fails to start sometimes when "listen on all" is specified"
I have a fairly simple OpenSMTPD configuration on OpenBSD 6.3 replicated across 3 servers. The listen portion is as follows:

listen on all tls pki mail.server.com auth-optional
listen on all port 587 tls-require pki mail.server.com auth senders <authorized>

I am running the servers on Vultr with a dual stack configuration, and /etc/hostname.vio0 looks like this:

dhcp
inet6 autoconf -autoconfpri

[2018-05-18 08:36] MrSorcus commented on #556
Up. Any news on this?

[2018-05-18 08:37] MrSorcus commented on #443
Up. Any news on this?

[2018-05-18 10:20] ArchangeGabriel commented on #443
One workaround I’m going to try soon is to let e.g. nginx handle the TLS part of the connection, though that only works when receiving, not when relaying (I’m not sure this can be done, but in any case would likely require more work).

[2018-05-18 15:15] MrSorcus commented on #772
When will be released?

[2018-05-18 15:52] poolpOrg commented on #772
It will be released "stable" in October/November with OpenBSD 6.4

The code is already available in the 'dispatcher' branch on github, this is what I'm running myself, and I will start the producing snapshots for testing in the next few days

The main issue is that we can't release this before rewriting the documentation and planning on how to help people migrate ;-)

[2018-05-22 06:49] poolpOrg opened #854 "in mta, handle SIZE to avoid sending payload when we know it will fail"
for outgoing sessions, smtpd will not honour SIZE and might submit a message which it knows will end up rejected by remote host.

since MTA layer is going to be rewritten, make sure this ticket is handled in the rewrite.

[2018-05-24 13:18] poolpOrg commented on #772
committed.

[2018-05-24 13:18] #772 closed

[2018-05-24 13:28] breard-r opened #855 "Message stuck in queue after failing deliver to mda"
Hi,

I have a message stuck in queue after OpenSMTPD failed to deliver it to the mda.
I am running OpenSMTPD 6.0.3 portable on ArchLinux.
The important part of my configuration file is (was) the following:

`accept for local alias <aliases> deliver to mda "/usr/lib/dovecot/dovecot-lda -e -f %{sender} -d %{user.username}"`

## What happened?

I sent an email to someone who as a 451 "Temporary local

[2018-05-29 06:49] whataboutpereira commented on #850
It would also be wonderful if smtp log entries would mention either the port used and/or tag.

[2018-05-29 22:37] poolpOrg commented on #794
author doesn't have time to maintain this tool, we will remove it unless someone commits to maintain it.

[2018-05-29 22:37] #794 closed

[2018-05-29 22:41] poolpOrg commented on #815
This is fixed in the new grammar we committed recently and which will be shipped with the next major version of OpenSMTPD in a few months.

You can now write rules that will specifically match the UNIX socket:

    match from socket [...]

[2018-05-29 22:41] #815 closed

[2018-05-29 22:42] poolpOrg commented on #852
@ericfaurot acceptable ?

[2018-05-29 22:44] poolpOrg commented on #828
I don't think we can do anything more here so closing :-)

[2018-05-29 22:44] #828 closed

[2018-05-30 07:03] Ekleog commented on #815
Great, thanks!

[2018-06-01 07:12] rickynils commented on #373
@poolpOrg I saw this fatal error on `6.0.2p1` yesterday:

[code]

[2018-06-01 07:27] poolpOrg commented on #373
did you edit the envelope manually ?

[2018-06-01 07:30] poolpOrg commented on #855
This ticket should be split in two different tickets:

- one for the '@' sender as this needs a fix
- one for the 'envelopes' stuck in queue with the broken command, as this fixed in new grammar

[2018-06-01 09:13] rickynils commented on #373
Nope. This was just an incoming mail (spam). Unfortunately, I have deleted the files from the spool, so I cannot provide you with any more details.

[2018-06-04 16:36] poolpOrg commented on #854
diff pending review, will be committed shortly and be part of next release.

[2018-06-04 18:32] poolpOrg commented on #855
actually the part that isn't fixed is duplicate from #793, it is the exact same cause, closing this ticket

[2018-06-04 18:32] #855 closed

[2018-06-04 21:47] poolpOrg commented on #854
committed to OpenBSD, will be synced here

[2018-06-04 21:47] #854 closed

[2018-06-08 11:30] chneukirchen opened #860 "MDA execution should respect and interpret exit status"
There is a set of special exit statuses and their mapping to SMTP codes that OpenSMTPD should implement.

From postfix:

[code]

Currently all non-zero statuses seem to be interpreted as temporary failures, which will call a failing MDA quite often (IMO not a sensible default).

[2018-06-09 14:39] poolpOrg commented on #860
Your opinion is correct, that's not a sensible default.

I'll work on fixing this before next release ;-)

[2018-06-15 19:46] poolpOrg commented on #164
So this took a while but as you could see there's been a lot of changes to our code recently and they actually made it easier for me to work on your PR.

The PR as is was broken obviously with all the changes and there are a few changes I made here and there but it is mostly the same as you submitted.

There are still a few shortcomings that need to be fixed before it gets committed, for instance

[2018-06-15 19:46] poolpOrg commented on #164
reassigning the ticket to me as I'm doing the integration ;-)

[2018-07-03 16:11] johnjones commented on #409
The Dutch and German governments have mandated the use of DANE for government email.
It would be awesome to have support in OpenSMTPD...

[2018-07-17 17:06] sumdog opened #866 "opensmtpd fails to route IPv4/IPv6 addresses when using relay source"
I've got opensmtpd running on a box that has multiple IP addresses and I want to ensure outgoing mail only gets sent from certain IP addresses (one IPv4 and one IPv6 which have correct reverse DNS set on them).

Say I have the following table (I've scrubbed my real addresses):

    table sendip { 45.76.172.100, 2001:1000:1000:1000:1000:1000:1000:1 }

and I have the following to relay outbound mail

[2018-07-20 01:19] lattera commented on #852
I've now got several production installations of OpenSMTPD with this patch applied. Everything's working fine and dandy.

[2018-07-20 02:59] L4Dj29 opened #867 "forward-only docs are unclear"
Hello,

Thank you for work you do on opensmtpd, you save us from postfix or sendmail.

I am a new user, and learning. local relay and deliver to local mailboxes works and is clear how to do.

I try also to do other simple thing: forward mail for virtual users to some other address.

The docs seem simple, but details are not clear. Adding a more complete example for that would be very helpful, as t

[2018-07-21 12:15] n8v8R commented on #798
ubuntu bionic
kernel 4.17.8
repo Package: opensmtpd (6.0.3p1-1build1) https://packages.ubuntu.com/bionic/opensmtpd

---
[code]
---

---

This seems like a fundamental bug or else how to remedy it?

Monitoring the resolver's log it is apparent that the query for a MX record is not being made.
There are no other issues with DNS resolution for any kind of record on the system

[2018-07-25 20:41] n8v8R commented on #556
That was about 1 year ago, notwithstanding the initial report 3 years. Is there any development?

I got bit shocked after having switched to OSMTPD and issued EC certificates to see

which suppose is caused by the lack of support for EC?

[2018-07-27 23:50] jirutka commented on #816
I have the same problem, but it doesn't seem to be related to #883, 'cause I've already applied patch https://github.com/OpenSMTPD/OpenSMTPD/pull/835.

[2018-08-01 22:03] n8v8R opened #868 "[feature suggestion] support LMTPS"
Since dovecot supports TLS over LMPT(S) it would perhaps make sense to implement lmpts for smptd too, like postfix already has?

[2018-08-10 02:46] sdgathman opened #869 "syntax error for helo with address literal"
smtpd.conf contains:
[code]
opensmtpd complains:
[code]
Doesn't work without quotes or for IP4 either.

[2018-08-10 06:47] whataboutpereira commented on #869
Looking at the man page, "helo" can only be used in action or match directives with the new syntax. https://man.openbsd.org/smtpd.conf

[2018-08-10 14:03] sdgathman commented on #869
You are right.  Sorry for the noise.

[2018-08-10 14:03] #869 closed

[2018-08-15 19:28] #816 closed

[2018-08-24 12:46] zoot opened #870 "Progress regarding stable smtpfd release"
Hi there

I'm exploring OpenSMTPD for the first time, while investigating its SMTP filtering layer possibilities compared to a system currently running qpsmtpd in front of qmail.

Even though the latter is a very powerful setup, I'm constantly reviewing the landscape of alternatives, as the service scales up.

Given the recent extraction of the filtering extras from OpenSMTPD for future releases,

[2018-08-28 08:12] ericfaurot opened #871 "missing support for mandatory tls"
It's currently not possible to require TLS when relaying in general: "action r0 relay tls".
While there, the "relay tls no-verify" option should not require a smarthost.

[2018-08-29 07:18] poolpOrg opened #872 "unify relay url's between smtpd and smtp client"
As discussed with eric, relay urls should be unified between smtpd and smtp client by using proper schemas.

While at it, auth should be simplified, it can be made implicit to relay urls and avoid the need to maintain a 'auth' keyword in the action.

Also, 'tls' and 'tls no-verify' should be implemented for relay rules when no host is specified.

[2018-08-31 07:57] poolpOrg commented on #872
document relay URL formats

[2018-08-31 08:44] poolpOrg commented on #870
smtpfd is being worked on but I can't tell you precisely when we will release it because we've done that in the past and it didn't turn well.

stay tuned on the mailing list and our IRC channel.

[2018-08-31 08:44] #870 closed

[2018-08-31 08:46] poolpOrg commented on #868
no objection but this is not going to be high priority either.

linking to ticket #800

[2018-08-31 08:46] #868 closed

[2018-08-31 08:48] poolpOrg commented on #866
We will be looking into fixing this for the upcoming 6.4.0 release, it will definitely be fixed for 6.5.0 if we miss the window.

[2018-08-31 08:59] poolpOrg commented on #853
This can't be fixed because it is not really an issue with OpenSMTPD but rather with the networking layer and your workaround is really the best solution to avoid this.

The problem is that the `all` in `listen on all` is not a keyword, it is an interface group, similar to `listen on egress` or `listen on wlan`. That interface group doesn't equate to 0.0.0.0 or :: but it will contain all the IP ad

[2018-08-31 08:59] #853 closed

[2018-09-01 10:28] poolpOrg commented on #787
This issue was related to the 5.x version of OpenSMTPD, we don't have the feedback @ryanakca requested and we're heading towards 6.4 release, all man pages have been rewritten since the initial issue was reported.

Closing the issue, feel free to reopen if you still experience the issue with the current portable branch.

[2018-09-01 10:28] #787 closed

[2018-09-01 10:34] poolpOrg commented on #793
The issue has been discussed with @ericfaurot and is well understood:

It is not possible to remove envelopes that are inflight and due to how the MTA currently buffers envelopes, it is possible that an envelope remains inflight for way too long when a route is temporarily invalidated.

We will look into a quick fix though the real fix is known and will be handled as part of #800

[2018-09-01 11:26] poolpOrg commented on #683
@ericfaurot has committed a new message parser which can process long lines and which makes it possible to solve this ticket for good.

He is currently investigating if there are other areas that still work with long lines but we think there aren't and this ticket might be closed soon.

[2018-09-01 11:47] poolpOrg commented on #164
Done with this, however I'm not confident enough to merge so close to 6.4.0 so it will be part of the 6.5.0 release.

[2018-09-01 11:47] #164 closed

[2018-09-01 14:11] abiscuola commented on #750
Hi Gilles

To be fair, I never encountered this issue again, but I must say
that I never had the possibility to test a newer opensmtpd-portable
in the particular setup affected.

Sorry for not having the possibility to be more helpful on this.

[2018-09-01 19:48] poolpOrg commented on #860
This issue has been solved and is pending review from @ericfaurot for merging.

[2018-09-01 19:59] poolpOrg commented on #867
Your ticket references the old configuration format.

The configuration format was completely rewritten for the upcoming 6.4.0 release and the man pages were also rewritten almost from scratch to be more clear.

The forward-only delivery method is better documented in the new man page that will be shipped with the 6.4.0 release.

[2018-09-01 19:59] #867 closed

[2018-09-01 20:17] poolpOrg commented on #843
I'm not too convinced yet if this is a good idea but given that it would require code in the privileged process as well as the lookup process as well as the smtp engine and given how close we are to the 6.4.0 release, I'll postpone the decision to 6.5.0 so it can be discussed with @ericfaurot further more.

[2018-09-01 20:31] poolpOrg commented on #750
On Sat, Sep 01, 2018 at 07:11:42AM -0700, abiscuola wrote:

No worry, there is a fair possibility this got fixed in the many
improvements we did in the last few months.

Worst case scenario, you experience this again and we'll fix :-)

--
Gilles Chehade

https://www.poolp.org                                          @poolpOrg

[2018-09-01 20:58] hostingnuggets commented on #793
@poolpOrg cheers for the news, looking forward to version 6.4.0 :+1:

[2018-09-01 21:14] poolpOrg commented on #811
Investigated and this is not a bug.

SMTP relies on a working DNS and it is expected that a broken DNS setup will result in a broken SMTP setup: DNS is used for both incoming and outgoing trafic.

Your analysis in the last paragraph is incorrect:

First of all, OpenSMTPD didn't read these files, it relies on the DNS resolver which does.

Then, it should most definitely not exit because DNS errors

[2018-09-01 21:14] #811 closed

[2018-09-01 21:18] poolpOrg opened #873 "LMTP has trouble with mailer-daemons"
mailer-daemons have empty senders, this doesn't work well with the mail.lmtp mda.

Reported by Mark Kane.

[2018-09-02 12:39] zoot opened #874 "Feature request: XCLIENT extension to SMTP"
When implementing an upstream SMTP proxy which supports XCLIENT, it is possible to pass the original client connection data along to whichever downstream server hosts the destination mailbox.

Adding this extension to OpenSMTPD would give it the ability to test delivery decisions against the original connecting client, rather than being handicapped by only being exposed to the proxy server's conne

[2018-09-02 21:07] poolpOrg commented on #808
committed to the OpenBSD tree, will be synced to github soon.

[2018-09-02 21:07] #808 closed

[2018-09-03 17:35] poolpOrg commented on #872
First part of the fix has been committed to openbsd by @ericfaurot.

the ' tls'  and 'tls no-verify' part still needs to be worked on.

[2018-09-03 17:42] poolpOrg commented on #683
committed, so long nuisance.

[2018-09-03 17:42] #683 closed

[2018-09-03 17:44] poolpOrg opened #875 "implement tls and tls no-verify when relaying without a smarthost"
relay actions that don't have a smart host should support tls and tls no-verify options

[2018-09-03 17:44] poolpOrg commented on #872
a ticket has been opened for the tls/tls no-relay part.

[2018-09-03 17:44] #872 closed

[2018-09-04 12:14] ericfaurot commented on #875
duplicate of #871

[2018-09-04 12:14] #875 closed

[2018-09-04 13:09] #860 closed

[2018-09-16 16:32] jayjlawrence opened #877 "Quick how to resubmit messages"
I don't know if this is the best way but it got the job done for me.

I had some bad routing that caused entries to be stuck in the queue and needed to be resubmitted or "requeued"

Thanks to a discussion from 2014 I got enough info to make this one liner. Obviously take off the bash at the end and try a few lines by hand.

[code]

Perhaps you can do it in two steps too

[code]

[code]

and then b

[2018-09-20 13:03] ericfaurot commented on #852
Sorry for the delay. Can you test this diff instead?

[dns.diff.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/2401371/dns.diff.txt)

[2018-09-21 12:09] ericfaurot commented on #871
diff on tech@

[2018-09-21 13:45] ericfaurot commented on #866
As I read it, this is just a warning in the logs, but the mails should still be relayed using the other source address in the list.

Can you confirm this?

[2018-09-21 14:07] sumdog commented on #866
This might actually be invalid. I was on a VM with SMTP blocked outgoing, so it might have been failing outgoing IPv4, exhausted the IPv4 IPs it looked up and attempted IPv6. Will attempt to replicate in a VM.

[2018-09-23 21:03] MrSorcus opened #879 "Compile error with openssl 1.1.1."
[code]
[code]

[2018-09-24 12:10] ArchangeGabriel commented on #879
See #738, the issue is not `1.1.1` but `1.1.0`.

[2018-09-24 15:07] #879 closed

[2018-09-24 16:15] ericfaurot commented on #871
It's in.

[2018-09-24 16:15] #871 closed

[2018-09-26 16:32] ericfaurot commented on #852
As discussed with @poolpOrg, the original diff seems like the best option.
It's better than the current situation anyway.

committed in cvs

[2018-09-26 16:32] #852 closed

[2018-09-27 07:04] poolpOrg commented on #866
Discussed in length with @ericfaurot, summary below:

Neither one of us thinks this is an issue: the log you see is warning you that a route can't be established between an inet6 source address and and inet4 mx. This doesn't prevent the mail from flowing as it will take another route.

The message might be confusing, but removing it would be even more confusing because then if you didn't have anot

[2018-09-27 07:04] #866 closed

[2018-09-27 07:09] poolpOrg commented on #798
Since @ericfaurot and I both discussed this in private, I'll add my own opinion for the record:

This is an issue in the resolver layer and it has to be fixed in the libc for OpenBSD and in libasr for other systems. OpenSMTPD can be tagged and released disregarding this issue as updating libasr to a fixed one will automagically fix things without any cooperation from OpenSMTPD code.

I'm closing t

[2018-09-27 07:09] #798 closed

[2018-10-10 13:56] norrland opened #880 "Support SNI when connecting as client to relay"
Currently OpenSMTPD does not support connecting to relays using TLS where the remote server is using an certificate with multiple SANs(subject alt name).

Tested on OpenSMTPD 6.4.0 (OpenBSD 6.3-current (GENERIC.MP) #41: Wed Jun 20 23:24:05 MDT 2018)

[2018-10-18 12:53] cruvolo commented on #409
The experimental DANE branch link is 404.  Is there another branch maintained somewhere? Thanks.

[2018-10-27 03:03] Ekleog opened #885 "6.4.0p1 tarball assumes automake-1.15"
The 6.4.0p1 tarball uploaded at [the website](https://www.opensmtpd.org/archives/opensmtpd-6.4.0p1.tar.gz) currently hard-requires automake-1.15, making it impossible to build with later versions.

Running `sh bootstrap` before building works around the issue by re-generating the faulty file.

[2018-10-27 04:53] poolpOrg commented on #885
On my phone, can't check right now, but the tarball doesn't contain a configure script ??I have run the bootstrap before creating the release tarballLe 27 oct. 2018 05:03, Léo Gaspard <notifications@github.com> a écrit :The 6.4.0p1 tarball uploaded at the website currently hard-requires automake-1.15, making it impossible to build with later versions.
Running sh bootstrap before building works aro

[2018-10-27 05:47] Ekleog commented on #885
Hmm actually upon further investigation, this is likely due to my having
to apply the patch from #884 locally to make the build pass, as it means
autotools need to be re-run anyway.

The assumption of automake-1.15 is likely a red herring, as the
configure script does assume it but doesn't appear to actually call it
unless the build system has been modified in some way.

[2018-10-31 23:04] greecemunky commented on #877
Thanks @jayjlawrence - this saved my bacon!

My OpenSMTPD 6.0.3p1 instance (used solely as an internal relay) had messages stuck in queue due to error `mta event=error reason=IO Error: error:141A318A:SSL routines:tls_process_ske_dhe:dh key too small` which I believe coincided with an OpenSSL update (I performed a Debian dist-upgrade recently).  I assume my current smarthost uses an undesirable DH

[2018-11-01 10:35] jayjlawrence commented on #877
@greecemunky thanks for the additional info. I am really happy that my posting helped you out.

[2018-11-01 12:34] Ekleog commented on #885
Closing as it's most likely due to the hotfix from #884 indeed.

[2018-11-01 12:35] #885 closed

[2018-11-02 10:29] poolpOrg commented on #773
Diffs are being committed to the OpenBSD tree and will start getting synced to Github in the next few days.

[2018-11-02 10:29] #773 closed

[2018-11-02 10:31] poolpOrg commented on #877
That's more of a mailing list info than a bug report info ;-)

Closing this as there's nothing we can do with this ticket.

[2018-11-02 10:31] #877 closed

[2018-11-02 11:29] Anachron commented on #773
Thank you so much guys. When is the next release planned?

[2018-11-02 13:41] poolpOrg commented on #773
On Fri, Nov 02, 2018 at 04:29:04AM -0700, Anachron wrote:

The next major stable release will be in April !

--
Gilles Chehade

https://www.poolp.org                                          @poolpOrg

[2018-11-05 14:02] Ekleog opened #886 "Errors related to TLS with OpenSMTPD 6.4.0p1 (incl. segfault)"
Two errors have been reported in what appears to be things related to TLS handling.

#### First error

First one is OpenSMTPD exiting with exit code 1 on startup when being passed a PKI. Details including full logs are at https://github.com/NixOS/nixpkgs/pull/48901#issuecomment-435838142 and comments below. The reporter confirmed via IRC that this appeared both with `libressl_2_7` (our default) an

[2018-11-05 14:05] the-kenny commented on #886
It's me who reported the second error - feel free to ping me if you need any more information or a more complete log output :)

[2018-11-05 14:10] poolpOrg commented on #886
No idea but we'll investigate.

Can you provide the configure output as well as the configure.log ?

Gilles

[2018-11-05 14:20] Izorkin commented on #886
My configure:
[code]
error - https://github.com/NixOS/nixpkgs/pull/48901#issuecomment-435838142

[2018-11-05 14:51] poolpOrg commented on #886
@Izorkin care to show me the output of:

    $ openssl x509 -in /etc/ssl/private/mail.example.com.crt -text -noout| grep Algorithm

[2018-11-05 14:53] Izorkin commented on #886
@poolpOrg
[code]

[2018-11-05 16:48] the-kenny commented on #886
Relevant parts from my config (it crashes when a mail is matched to the `action_gmail` relay:

[code]

[2018-11-06 12:05] danieljakots opened #887 "aliases with + filtering"
Hi,

My conf is basically

 table aliases db:/etc/mail/aliases.db
 action "local" maildir alias <aliases>
 match from any for domain "chown.me" action "local"

Previously it was

 table aliases db:/etc/mail/aliases.db
 accept for local alias <aliases> deliver to maildir
 accept from any for domain chown.me alias <aliases> deliver to maildir

I use the + filtering both directly, and with aliases. I

[2018-11-06 13:22] memiks commented on #886
Hello,

I have the same issue with alpine and pki

I attached my config, strace, start log.
[smtpd.log](https://github.com/OpenSMTPD/OpenSMTPD/files/2553290/smtpd.log)
[strace.log](https://github.com/OpenSMTPD/OpenSMTPD/files/2553291/strace.log)
[smtpd.conf](https://github.com/OpenSMTPD/OpenSMTPD/files/2553293/smtpd.conf.log)

this is the algorithm grep on certificate :
    Signature Algorithm: sh

[2018-11-06 15:00] poolpOrg commented on #886
What version of LibreSSL are you using ?

Gilles

[2018-11-06 15:19] poolpOrg commented on #886
OK, I can reproduce and I have a fix but considering the bug I'm unsure if this is an issue with OpenSMTPD which would require to release opensmtpd-6.4.0p2 or an issue with LibreSSL which would require them to release a new version, will get back to you.

[2018-11-06 16:19] poolpOrg commented on #886
Guys, care to try the following diff ?

https://www.poolp.org/~gilles/freezero.diff

[2018-11-06 16:48] Ekleog commented on #886
@the-kenny @Izorkin In case it can help you test more easily, the following overlay does the job:
[code]

I can confirm the patch doesn't break our automated test, but the test doesn't check TLS, so… will let @Izorkin and @the-kenny test :)

[2018-11-06 16:56] poolpOrg commented on #886
I have verified both outgoing and incoming TLS and the issue is gone as far as I'm concerned, if you guys can confirm on your own I'll publish a patch-level release tonight.

[2018-11-06 17:58] usonianhorizon commented on #886
I have been running OpenSMTPD under Ubuntu 16.04 LTS, and just this morning upgraded our server to 18.04.1 LTS.  Well, that might have been a mistake since all outbound email attempts crash the opensmtpd.service.  I realize that I am resigned to a lagging version from the Ubuntu package repository but still this seems to be a critical issue.

` smtpd -h
version: OpenSMTPD 6.0.3-portable`

I *belie

[2018-11-06 18:07] poolpOrg commented on #886
@usonianhorizon I doubt this is related to this issue, is the libssl on your system LibreSSL ?

[2018-11-06 18:16] Izorkin commented on #886
@poolpOrg Thanks, patch worked.

[2018-11-06 18:18] poolpOrg commented on #886
I knew but I wanted an ack from you before closing this ticket ;-)

[2018-11-06 18:18] #886 closed

[2018-11-06 18:30] usonianhorizon commented on #886
<WILCO>

[2018-11-06 18:42] usonianhorizon opened #888 "OpenSMTPD crashing after upgrading Ubuntu from 16.04 LTS to 18.04.1 LTS (Points to TLS issue)"
Stable OpenSMTPD configuration running for over a year now under Ubuntu 16.04 LTS (switched from Postfix).

This morning I upgraded our server to Ubuntu 18.04.1 LTS at which point all attempts at outbound email crash OpenSMTPD service (using Mutt, Roundcube webmail, mobile mail clients).

@poolpOrg I have removed some of the table contents emitted in report.log as they list users that use our serv

[2018-11-06 20:33] the-kenny commented on #886
I can also confirm that the above patch fixes all issues for me :) Thanks!

[2018-11-07 05:46] poolpOrg commented on #888
@usonianhorizon change your password asap, you have pasted its the report.log you attached !!

[2018-11-07 05:48] poolpOrg commented on #888
The crash seems to happen in table-passwd, can you try building and installing table-passwd from the github repository ?

[2018-11-07 07:48] poolpOrg commented on #888
I will prepare an -extras release today

[2018-11-07 08:45] poolpOrg commented on #888
I released a new tarball from the new extras:

https://www.mail-archive.com/misc@opensmtpd.org/msg04015.html

Please install and confirm that it fixes your issue @usonianhorizon

@ArchangeGabriel at least now you can point to a release rather than a date :-p

[2018-11-07 08:49] ArchangeGabriel commented on #888
@poolpOrg Are those extras be compatible with 6.0.x? We don’t have OpenSMTPd 6.4 yet because we still need to decide/figure out what to do regarding LibreSSL.

[2018-11-07 08:50] usonianhorizon commented on #888
@poolpOrg Thanks (for earlier comment and) this release.

Will try asap.  Will need some guidance on this: make and install?

Been up most of the night fretting with our mailserver down :).

[2018-11-07 08:52] ArchangeGabriel commented on #888
@usonianhorizon What do you have installed on your system? opensmtd-extras? If so I would look for the package sources and update the version inside it.

[2018-11-07 08:56] usonianhorizon commented on #888
@ArchangeGabriel I don't believe that I have opensmtpd-extras:

`# dpkg -l | grep opensmtp`
`ii  opensmtpd                             6.0.3p1-1build1                    amd64        secure, reliable, lean, and easy-to configure SMTP server`

[2018-11-07 09:02] poolpOrg commented on #888
@ArchangeGabriel it should be compatible with 6.0.x as we didn't make any change to the API and many people are using the extras from github on 6.0.x setups, I can't guarantee with my word because I haven't got a 6.0.x setup to try myself.

@usonianhorizon :
    ./configure --prefix=/where/to/install --with-table-passwd && make && make install

[2018-11-07 09:39] usonianhorizon commented on #888
@ArchangeGabriel Thanks.  I fear I may be reaching limits of understanding the default installation as I don't see table-passwd:

`# cd /`
`# find . -name 'opensmtpd' -print`
`./usr/share/doc/opensmtpd`
`./usr/share/lintian/overrides/opensmtpd`
`./usr/lib/x86_64-linux-gnu/opensmtpd`
`...`

`# find . -name 'table-passwd' -print`
`<NULL>`

`# ls /usr/lib/x86_64-linux-gnu/opensmtpd`
`encrypt  mail.lo

[2018-11-07 09:46] ArchangeGabriel commented on #888
OK, I don’t know Ubuntu specifics, but then maybe just try installing with:
[code]

[2018-11-07 09:46] usonianhorizon commented on #888
@poolpOrg configure, I think, might need a check for libevent-dev?

Initially, I got the following:

`event_asr_run.c:25:10: fatal error: event.h: No such file or directory`
` #include <event.h>`
`          ^~~~~~~~~`
`compilation terminated.`
`Makefile:374: recipe for target 'event_asr_run.o' failed`

Now I have successful compile, but am still unsure on where to install?

[2018-11-07 09:49] usonianhorizon commented on #888
@ArchangeGabriel `<WILCO>`

[2018-11-07 10:05] usonianhorizon commented on #888
No luck, I fear.  Still crashing on attempted send.  Could it be that under 16.04 table-passwd was piggy backing off of something else, which got omitted in 18.04.1?  Reaching, I know; just don't have a clue as to what it going on.

Mutt is displaying same error:

`Output of the delivery process (all)`
`msmtp: cannot read from TLS connection: The TLS connection was non-properly terminated.`

[2018-11-07 10:11] ArchangeGabriel commented on #888
Well the TLS connection is fine (`openssl s_client -connect smtp.khor.pavastupa.com:587 -servername smtp.khor.pavastupa.com -starttls smtp` works), so the issue is definitively the auth part. Maybe you should post a new log with `table-smtpd` installed? And make sure to remove confidential info from the log. ;)

[2018-11-07 10:16] usonianhorizon commented on #888
Indeed! :)

So try this?

`./configure \`
`    --prefix=/usr \`
`    --libexecdir=/usr/lib/x86_64-linux-gnu/opensmtpd \`
`    --with-table-passwd --with-table-smtpd`

[2018-11-07 10:20] ArchangeGabriel commented on #888
Sorry, that was a typo, should have read `table-passwd`.

[2018-11-07 10:36] usonianhorizon commented on #888
Before I post the updated report.log file, I just want to confirm:

1. I had obscured the passwd in the line `lookup: lookup...as CREDENTIALS in table static:passwd ...`

but had overlooked obscuring the line:

2. `smtp: 0x558a27ef24e0: <<< AUTH PLAIN...`

Was that the only other location, or am I snowblind to it?

And, I am guessing that the relevant part of the log file is only in and around the

[2018-11-07 10:38] ArchangeGabriel commented on #888
I don’t know, @poolpOrg should tell.

[2018-11-07 10:39] usonianhorizon commented on #888
One other thing:

I noticed that `make install` installed `table-passwd` in `/usr/lib/x86_64-linux-gnu/opensmtpd/opensmtpd`, and so have moved it to `/usr/lib/x86_64-linux-gnu/opensmtpd` directly, and restarted the service (before generating the updated log file).

I am guessing that the `configure` command should be:

`./configure \`
`    --prefix=/usr \`
`    --libexecdir=/usr/lib/x86_64-linux-g

[2018-11-07 10:41] ArchangeGabriel commented on #888
Hum I have it under `/usr/lib/smtpd/opensmtpd/table-passwd`, so I would say my command was correct.

[2018-11-07 10:42] usonianhorizon commented on #888
I thought that is what it should have done, but I copied your command directly, and then noticed one additional level in the install directory.  Weird.

[2018-11-07 10:44] ArchangeGabriel commented on #888
No, my `smtpd/opensmtpd` directory is equivalent to your `opensmtpd/opensmtpd` one.

[2018-11-07 10:48] jnbr commented on #888
If you don't have it applied, you can try with the patch from https://github.com/OpenSMTPD/OpenSMTPD/pull/835

[2018-11-07 10:49] usonianhorizon commented on #888
Ah.  Okay, I will put it back.  Missed the smtpd part of the path.

[2018-11-07 10:55] ArchangeGabriel commented on #888
Ah yes. I confused https://bugs.archlinux.org/task/58008 with https://bugs.archlinux.org/task/58127. Your issue is what @jnbr said, especially since this is not in latest 6.0.x release.

[2018-11-07 11:03] usonianhorizon commented on #888
Another datapoint that I should have mentioned right off, and was reminded by following @jnbr link down to [opensmtpd cannot read passwd-file on alpine linux](https://github.com/OpenSMTPD/OpenSMTPD/issues/816) is that on our server Dovecot and OpenSMTPd don't share the same passwd file.  I have a Makefile that strips away details to make it conform to the more spartan OpenSMTPd format:

[code]
Hen

[2018-11-07 11:13] poolpOrg commented on #888
@usonianhorizon :

Nope that was the only location :-)

Yes, ~20 lines before the crash + the crash is what matters usually

[2018-11-07 11:48] usonianhorizon commented on #888
@poolpOrg Okay, thanks.  I'm just trying to apply @jnbr patch first, but am running into a problem.  Got the 6.0.3p1 tarball, and replaced `openbsd-compat/crypt_checkpass.c`.  Any guidance on what I am missing? Thanks.

[code]

[2018-11-07 12:43] poolpOrg commented on #888
yes, you are going to be in a lot of pain:

- your Ubuntu upgrade most likely moved you from OpenSSL 1.0.x to OpenSSL 1.1.x
- supporting OpenSSL 1.1.x involves additional patches in the portable branch...

I don't know what's the easiest way to deal with this on your system, either rollback to 6.0.3p1 which was working and only install the new -extras which should be compatible, or install OpenSMT

[2018-11-07 13:12] fluffykhv commented on #888
Not only LibreSSL should be built privately but libevent with this LibreSSL private libs too :( I have this pain at FreeBSD 12+ with OpenSSL 1.1.1 in base :(

[2018-11-07 13:49] usonianhorizon commented on #888
What I have done is taken the distro source for 6.0.3p1, and replaced crypt_checkpass.c with @jnbr 's patch.  Installed all the dependencies as per [Source Package: opensmtpd (6.0.3p1-1build1)](https://packages.ubuntu.com/source/bionic/opensmtpd) and compiled successfully.  @poolpOrg @fluffykhv you are right:  Had to install `libssl1.0-dev` after uninstalling default `libssl-dev` in base.

Just ab

[2018-11-07 13:55] poolpOrg commented on #888
really ? libevent depends on OpenSSL ?

[2018-11-07 14:06] usonianhorizon commented on #888
No luck :(.  Have confirmed that I compiled with patched crypt_checkpass.c:

[code]

Right now I am unable to create the report.log even though `systemctl` seems to be able to start the service properly:

[code]

Did I mess up the `configure` command?

[2018-11-07 14:19] usonianhorizon commented on #888
Oops.  Service is starting because `systemd` unit is still pointing to `/usr/sbin/smtpd`, while the newly installed one is in `/usr/local/sbin/smtpd`.  So I haven't actually tested the patched version.  Now how to get the new version to stay alive in non-daemon mode before I start messing with `systemd` unit file?

[code]

[2018-11-07 14:35] usonianhorizon commented on #888
Have created a new `systemd` unit in `/etc/systemd/system` pointing to the updated binaries and now I get a similar failure on service start.  What could be the issue with user _smtpd?  There is both an `opensmtpd` and `opensmtpq` in `/etc/passwd`.

[code]

[2018-11-07 14:42] whataboutpereira commented on #888
It's looking for the default _smtpd and _smtpq users.

[2018-11-07 14:47] usonianhorizon commented on #888
_faceplant_ I just saw that in README.md about default users .  Going to rerun configure to use the system users and groups in base rather than creating the default ones, i.e., `opensmtpd`, `opensmtpq`.

[2018-11-07 15:42] usonianhorizon commented on #888
Nearly there, but still need a bit of help.  Have recompiled with the base user and group.  Service starts properly, but spawned processes don't open ports like base does.  Good news is that it hasn't crashed, but then we actually haven't done a successful auth either :)

???
I have been working on this all night, and so am good and truly not seeing clearly.  So if there is something obvious I am

[2018-11-07 16:31] usonianhorizon commented on #888
Back in production (I hope).  Thank you to all, especially to @jnbr for diagnosing what the problem was.

For the sake of completeness I am documenting all the steps I have taken here for anyone else facing the same issue.  Hope that package maintainers also update quickly for those not chasing down the answers on github:

1. Download base source for 6.0.3p1 from [Source Package: opensmtpd (6.0.3p

[2018-11-07 21:34] ArchangeGabriel commented on #888
Congrats on fixing this on your setup! :)

@poolpOrg On my side I can confirm that upgrading to latest extra works with 6.0.3p1. ;)

[2018-11-08 07:13] poolpOrg commented on #888
Congrats !

I'll let @usonianhorizon close the ticket if ok with him :-)

Thanks to people who helped him.

[2018-11-08 08:53] poolpOrg opened #889 "When a client connects to SMTP, do a reverse AND forward lookup"
Currently, when a client connects to SMTP we only do a reverse DNS lookup and associate the result to smtp_session's hostname member.

To support fcrDNS (forward-confirmed rDNS) lookups, we should ALSO perform a lookup on the resolved rDNS to obtain the IP address associated to the rDNS, so we are able to check if that address actually matches the client source address.

This should be done before

[2018-11-08 13:51] usonianhorizon commented on #888
Closing ticket.

Have filed a bug at [Launchpad](https://bugs.launchpad.net/ubuntu/+source/opensmtpd/+bug/1802146) pointing back to this thread, and so I trust package maintainers will commit upstream and release.  Bug status is still showing `UNDECIDED`, and so hope others facing the issue might find their way to this thread.

Thanks again, everyone!  Going from STABLE LTS to STABLE LTS and havin

[2018-11-08 13:51] #888 closed

[2018-11-09 00:20] poolpOrg opened #890 "When MTA connects to peer, do rDNS lookup"
Similarly to #889 we need both forward and rDNS before calling report_link_connect

[2018-11-12 17:43] miniCruzer opened #891 "Cannot build opensmtpd-6.4.0p2"
Compile time error when building opensmtpd-6.4.0p2.

GCC 7.3.0
OpenSSL 1.0.2p

Build output:

[code]

[2018-11-12 17:55] ArchangeGabriel commented on #891
Expected, you cannot compile with OpenSSL, you have to use LibreSSL.

[2018-11-12 17:56] miniCruzer commented on #891
I should've realized that.

[2018-11-12 17:56] #891 closed

[2018-11-12 18:29] miniCruzer commented on #891
Wait but portable used to support OpenSSL. Is that not the case anymore?

Also, opensmtpd.org offers 2 links to "portable" that are different. The one on the homepage (shown below) is marked as portable but does not support OpenSSL.

![image](https://user-images.githubusercontent.com/342758/48367423-a434ed80-e67e-11e8-801b-3190d1a7b01f.png)

The portable found [here](https://opensmtpd.org/portable

[2018-11-19 13:03] EX0l0N commented on #888
For the meantime I've rebuild the package including the fix provided above:

[opensmtpd_6.0.3p1-1build1-fix_amd64.deb](https://raw.exoz.net/opensmtpd/opensmtpd_6.0.3p1-1build1-fix_amd64.deb)

I didn't feel like compiling software on prod and by using a package everything will be back to normal, as soon as the maintainers roll out a new package.

[2018-11-25 15:39] danieljakots commented on #887
Is there any interest in fixing this?

[2018-11-25 15:42] poolpOrg commented on #887
On Sun, Nov 25, 2018 at 07:39:13AM -0800, Daniel Jakots wrote:

yes, but there's a backlog of issues to fix and I only have one set of hands

--
Gilles Chehade						       @poolpOrg

https://www.poolp.org                 tip me: https://paypal.me/poolpOrg

[2018-11-25 21:40] poolpOrg commented on #887
A diff is available at:

https://poolp.org/~gilles/subaddress.diff

which should fix the issue (tested on my laptop), please report

[2018-12-09 18:33] #889 closed

[2018-12-27 15:43] poolpOrg commented on #887
as discussed on icb, there was an issue indeed but the behaviour you expected was not the correct one either.

discussed with @ericfaurot and committed the fix today.

[2018-12-27 15:43] #887 closed

[2019-01-03 08:54] poolpOrg opened #897 "fix IPv6 uri"
19:32 <XXX> __gilles: elle est bizarre ton adresse: mta connecting address=smtps://IPv6:2a01:e0c:1::25:465 host=smtp.free.fr
19:33 <XXX> une uri serait plutt de la forme smtps://[2a01:e0c:1::25]:465

[2019-01-04 07:05] poolpOrg opened #898 "fix log line that's not in same format as others"
08:02 <XXX> __gilles: Jan  4 07:02:03 alf smtpd[49548]: smtp-out: Server certificate verification succeeded on session db48e70badee81fd

[2019-01-12 16:55] flipchan opened #899 "regular user auth not working in 6.4"
Hey,

I am trying to upgrade my opensmtpd email server running on openbsd 6.3 towards a new one on 6.4, i have used a simple config with the new syntax:
cat /etc/mail/smtpd.conf
table aliases file:/etc/mail/aliases
#table other-relays file:/etc/mail/other-relays

pki mail.example.com cert "/etc/ssl/mail.example.com.crt"
pki mail.example.com key "/etc/ssl/private/mail.example.com.key"

listen on lo

[2019-01-12 19:52] poolpOrg commented on #899
This is not a bug but a local configuration issue, please use the mailing list or IRC to get help, not the bug tracker.

[2019-01-12 19:52] #899 closed

[2019-01-13 12:37] Sp1l opened #900 "Link error with LLD"
https://github.com/OpenSMTPD/OpenSMTPD/blob/ef2f368219152771ac32adaa05dc1aee4c2bfe29/mk/smtpctl/Makefile.am#L24

Building the latest snapshot on FreeBSD results in a link error
[code]
linker is LLD
[code]
Issue is duplicate `config.c` in `mk/smtpctl/Makefile.am` line 24. Removing the duplicate prior to running `configure`.

[2019-01-14 15:58] wofwofwof commented on #867
I've search a while till I've got this working. This is for the new syntax.

Here are the matching lines in my working config:
table forward-recipients file:/etc/mail/forward-recipients    # contains all forward recipients
action "relay" relay
match from any rcpt-to <forward-recipients> action "relay"

Additionally, I've added this line to my alias file:
local.forward@address.net:        remote.fo

[2019-01-14 16:47] mischapeters opened #901 "filter builtin mail-from"
I am playing with the filter rules and one of the things I tried was:

[code]

It was catching also the following, which I was not expecting:

[code]

Not sure if this is as-designed.
<mischa+caf_=company=domain1.nl@domain2.com> is a forward from a google account to my local mailserver.

[2019-01-15 07:47] poolpOrg commented on #901
This seems to be the correct behavior:

You are requesting that any sender that's not mischa@domain1.nl be rejected, and it is rejecting a sender that's mischa@domain2.com

[2019-01-15 08:40] mischapeters commented on #901
Than I clearly misunderstood the filter... I thought this was to prevent spoofing where someone would use the to and from to be the same. Is there a way to do that with filters?

[2019-01-15 11:44] poolpOrg commented on #901
On Tue, Jan 15, 2019 at 12:40:07AM -0800, Mischa Peters wrote:

yes, you misunderstood that filter.

the only way to do that is through a proc filter as of today.

--
Gilles Chehade						       @poolpOrg

https://www.poolp.org                 tip me: https://paypal.me/poolpOrg

[2019-01-15 14:13] mischapeters commented on #901
Clear! :)

[2019-01-15 14:13] #901 closed

[2019-01-15 22:51] flipchan commented on #899
solution by mailing list
https://marc.info/?l=openbsd-misc&m=154747296018907&w=2

[2019-01-18 13:24] mischapeters opened #902 "match rule seems to be failing in -current"
Currently running OpenSMTPD on OpenBSD 6.4 GENERIC#588
With the following rules in smtpd.conf

[code]

[code]

[code]

As soon as an email is send from one of the www-relays with the sender in www-senders I am getting the following error on the sending mail server:

[code]

OpenSMTPD is saying:
[code]

This always worked before the syntax change and as far as I am aware this is the correct syntax

[2019-01-23 08:41] poolpOrg commented on #902
On Fri, Jan 18, 2019 at 05:24:39AM -0800, Mischa Peters wrote:

without the smtpd logs displaying the entire session, it is hard to take
a guess at why it is being rejected.

please, unless you are confident that you are facing a real issue, not a
configuration error, please take this to the mailing list as issues will
send notifications to all developers and cause them to have a look while
the co

[2019-01-28 20:07] cdidier commented on #812
I tried to solve this by adding a new table service (K_CHECKUSER) which will send the user and the password to the table backend. Then the LDAP table backend just need to try to connect to the server using those credentials to authenticate the user.

See https://github.com/OpenSMTPD/OpenSMTPD/pull/903 and https://github.com/OpenSMTPD/OpenSMTPD-extras/pull/55.

[2019-01-29 10:08] poolpOrg commented on #812
I'm not convinced that this is an issue nor that it should be solved through a new K_CHECKUSER lookup service and will explain my rationale below so it can be discussed.

First of all, K_CREDENTIALS was introduced to lookup credentials for a user so I'm not convinced that adding a new K_CHECKUSER lookup service because of a supposed shortcoming in K_CREDENTIALS is the way to tackle the issue, i'd

[2019-01-29 16:08] poolpOrg commented on #900
On Sun, Jan 13, 2019 at 04:37:41AM -0800, Bernard Spil wrote:

Thanks !

--
Gilles Chehade						       @poolpOrg

https://www.poolp.org                 tip me: https://paypal.me/poolpOrg

[2019-01-29 16:09] poolpOrg commented on #902
issue solved on mailing list

[2019-01-29 16:09] #902 closed

[2019-01-29 16:10] poolpOrg commented on #900
bug fix committed, thanks

[2019-01-29 16:10] #900 closed

[2019-02-14 23:19] EmperorArthur commented on #833
This is unfortunately still an issue on Ubuntu Server 18.04.  Which is the newest version Amazon offers for their EC2 instances.

It might be a seperate issue, but Amazon is shipping a version with this bug:

[2019-02-18 14:03] arjenz opened #904 "Option to reject email from non-existent domains"
Hi,

It might be nice to have an option to reject email from domains that do not exist (or at least, "domains that currently do not resolve into anything useful (MX/A/AAAA) on the local system").

Thanks!
Arjen

[2019-02-19 03:46] EmperorArthur opened #905 "Unable to build Portable, table.c:66:3 error: 'table_backend_db' undeclared here"
Hello,

I am having trouble building OpenSMTPD. I think there's an issue where an optional feature was accidentally made a requirement.  It probably wasn't caught because most developers working on the project have the option installed.

# The issue
I am unable to build the latest portable branch because the code references "table_backend_db", which is only added if **HAVE_DB_API** is defined.  Th

[2019-02-19 08:45] poolpOrg commented on #905
hi, thanks for your report

care to pull and give another try ?

[2019-02-19 08:49] EmperorArthur commented on #905
Confirmed fixed.  Thanks for the quick reply.

[2019-02-19 08:49] #905 closed

[2019-02-20 02:23] EmperorArthur opened #908 "Regression: TLS certificates cause immediate crashes in Portable branch (Docker)"
I was unable to run the latest portable branch in a Docker container when using tls.  Fortunately, the latest release (opensmtpd-6.4.1p2) does work.  That's why I've marked this as a regression.

Grepping through the code, the fatal error is called by smtpd.c:205 because `imsg === NULL`.  The debug statement then led me to mproc.c:172 when the pipe is closed.  I've confirmed it's the EV_READ case

[2019-02-20 02:31] EmperorArthur opened #909 "Suggestion: Use Docker Hub as a CI platform / host an official OpenSMTPD docker image"
Docker Hub will automatically pull images from an organization repository and attempt to build them.  By setting up an official repository, not only are users getting the advantage of the latest working code, but they're getting it right from the source.

The other thing Docker Hub can do is run a test suite.  I'm not as familiar with that part, but it should be possible to build some tests where

[2019-02-20 07:00] poolpOrg commented on #908
awww damn, this looks like a portable-specific issue as I'm not experiencing this on native :-/

I will investigate today, thanks for the report :+1:

[2019-02-20 07:14] poolpOrg commented on #909
This is a good idea.

I will take care of it, thanks :+1:

[2019-02-20 08:03] poolpOrg commented on #909
The OpenSMTPD organization has been created: https://hub.docker.com/u/opensmtpd

There's still a ton of setup to do but I did a test build based on your Dockerfile, works fine, we'll make this happen ;-)

[2019-02-20 08:42] poolpOrg commented on #909
Here's CI for the portable branch:
https://cloud.docker.com/u/opensmtpd/repository/docker/opensmtpd/ci_portable/builds

[2019-02-20 08:42] #909 closed

[2019-02-20 11:51] poolpOrg opened #910 "listener hostnames mapping feature is broken"
the hostnames mapping that you can attach to a listener to use a different hostname depending on the IP address it is using in a session is broken.

when connecting from the machine itself, it works correctly, when connecting from another machine, only the default host is used.

[2019-02-20 11:52] poolpOrg commented on #910
issue investigated and fix in progress.

[2019-02-20 12:00] poolpOrg commented on #910
fix committed.

[2019-02-20 12:00] #910 closed

[2019-02-20 12:05] poolpOrg commented on #908
Care to give it another run ?

A few commits had not been synchronized with github yet and one is likely to actually fix your issue :-)

[2019-02-21 03:25] EmperorArthur commented on #908
Still broken unfortunately.

Pull #911 should let you use Docker Hub as a CI platform for this issue.  Especially if the "Internal and external pull requests" option is triggered and you create a PR to test things.

[2019-02-21 09:03] poolpOrg commented on #908
ok, bad news for me but good that you're making it easier to reproduce ;-)

[2019-03-14 19:56] EmperorArthur opened #912 "Docker Hub is not auto building portable images"
Looking at https://hub.docker.com/r/opensmtpd/ci_portable/builds the CI system is not attempting to build portable images.  The last build was 22 days ago on commit 8095619.

The settings should probably look like this (taken from my own copy of the CI system):
![Docker Hub OpenSMTPD build](https://user-images.githubusercontent.com/1515637/54387398-ada48580-4671-11e9-9b7f-5302acb9a70c.PNG)

PS:  S

[2019-03-14 19:57] EmperorArthur commented on #912
Oh, if that still doesn't fix it, Docker Hub also provided this https://success.docker.com/article/i-have-issues-triggering-autobuilds

[2019-05-14 15:13] poolpOrg opened #917 "smtpd should reject \r in DATA"
RFC states that \r is only allowed as part of \r\n line terminator, clients MUST NOT emit \r or \n as part of the DATA.

https://tools.ietf.org/html/rfc5321#section-2.3.8

[2019-05-23 21:31] 717g301github opened #918 "Too many recipients with 7 CC: entries"
Please help me, as I can see that local OpenSMTPD rejects some emails, even if I just have 6-7 CC: recipients.

I was thinking to place max-rcpt 1000, but it does not help.

I am using opensmtpd 6.0.2p1-3 on Hyperbola GNU/Linux-libre

[code]

[2019-05-30 12:33] pywy18 opened #919 "Make rDNS match with unknown domains"
There is no way to match unknown hosts with the rdns regex functionality.
The hosts with no reverse dns defined never matches the `from rdns` filter.
Could be great to "filter" hosts connecting from ips with no reverse dns configured with this kind of syntax:
`match ! from rdns [...] reject`

[2019-06-02 09:58] poolpOrg commented on #556
I wrote the ECDSA privsep engine, it will be part of next release.

[2019-06-05 06:41] poolpOrg commented on #556
code committed in -current, this will be synched to github shortly

closing this long standing ticket

[2019-06-05 06:41] #556 closed

[2019-06-05 13:17] poolpOrg commented on #443
work has begun to switch OpenSMTPD to libtls which will solve this issue.

stay tuned.

[2019-06-05 13:18] poolpOrg commented on #444
work has began on switching OpenSMTPD to libtls which will make this feature request trivial to implement.

stay tuned

[2019-06-13 12:57] poolpOrg commented on #409
I have started implementing a standalone DANE resolver which still needs a bit of work before being brought in OpenSMTPD, but if you're curious search for poolpOrg/dane

[2019-06-19 04:27] allowthere opened #920 "What is the syntax error here?"
My /etc/my-dir/smtpd.conf is

          listen on 0.0.0.0
          accept for any relay

When I run
`smtpd -d -f /etc/my-dir/smtpd.conf`, I get `/etc/my-dir/smtpd.conf:2: syntax error`

What's wrong with `accept for any relay`?

My opensmtpd version is 6.4.1p2.

[2019-06-19 20:37] idfake commented on #920
You might want to look at the relevant manpages. There's been a config syntax change.

[2019-06-19 21:03] poolpOrg commented on #920
Also there's an IRC channel and a mailing list, opening issues for configuration support will not get you any help as I ignore them.Use the correct channel and enclose more details, like version and operating system.Le 19 juin 2019 22:37, idfake <notifications@github.com> a écrit :
What's wrong with accept for any relay?
My opensmtpd version is 6.4.1p2.

You might want to look at the relevant manp

[2019-06-19 21:04] #920 closed

[2019-06-21 23:07] Ekleog opened #921 "`mda` command is missing one level of escaping, and thus cannot be used with quotes"
Using something like `action do_mda mda "/bin/foo \"bar\""`, the equivalent of which worked in 6.3.0, no longer works in 6.4.0 by failing with `mail.mda: mail.mda: only one command is supported`, due to a missing escape in https://github.com/OpenSMTPD/OpenSMTPD/blob/portable/smtpd/parse.y#L681 I would guess.

[2019-06-21 23:29] Ekleog opened #922 "With 6.4.0 there no longer is a way to match against multiple negative-tags"
Before, `accept tagged ! A tagged ! B` worked to accept messages that were neither of two tags.

Now, `match ! tag A ! tag B` fails, saying the “tag” match has already been used.

[2019-06-21 23:35] Ekleog opened #923 "The userbase parameter to `mda` appears to be ignored in 6.4.0 when forking the mda"
My configuration from 6.3.0, once syntactically adapted to the 6.4.0 format, fails delivery with `result=PermFail stat=Error (user unknown)` when trying to do an `action foo mda "/bar" virtual <aliases> userbase <users>`.

The trace shows: `debug: smtpd: forking mda for session […]: [virtual-me] as [virtual-me]`. This makes me think smtpd/smtpd.c:1350 (in `forkmda`) is being hit, while it shouldn'

[2019-06-23 10:19] poolpOrg commented on #922
Nope, you are confused which is no wonders given that the previous format was confusing:

Before, `accept tagged ! A tagged ! B` worked _only_ to accept messages that were not tagged ! B and it didn't warn you that it was discarding ! A by overwriting the tag name. It has therefore never worked like you thought it did and there was _no way_ to have multiple tags matched one a rule as the rule stor

[2019-06-23 10:19] #922 closed

[2019-06-23 10:23] poolpOrg commented on #923
weird, I have spent quite some time on userbase making sure it was working correctly.

I'll need your configuration file and the log with full context from message being submitted to delivery, please do include -T rules traces too.

I'll be working on smtpd this full week so the sooner you provide this, the more chances it gets investigated and/or fixed soon.

[2019-06-23 10:39] poolpOrg commented on #921
I will have a look at it this week, the issue is not where you think, it is caused by a fundamental change where we used to rely on an execve() system call to run the mda whereas we now pass the mda line to a shell so it gets a chance at parsing the mda line better than we did (ie: support globbing, etc...).

In the meantime, replace your \"bar\" with 'bar' (single quote, no escape) and it will so

[2019-06-23 10:42] poolpOrg commented on #918
This was handled on the mailing list, it is very likely a configuration error as the max rcpt limit is far above this, didn't get a follow up from OP after pinpointing that and requesting more info.

Closing issue.

[2019-06-23 10:42] #918 closed

[2019-06-23 13:37] Ekleog commented on #923
I've sent you the logs and configuration, with `smtpctl trace all` and `smtpctl log verbose`, by PM over IRC :)

[2019-06-23 13:49] poolpOrg commented on #923
On Sun, Jun 23, 2019 at 06:37:36AM -0700, L??o Gaspard wrote:

ok thanks

--
Gilles Chehade						       @poolpOrg

https://www.poolp.org            patreon: https://www.patreon.com/gilles

[2019-06-25 20:25] poolpOrg commented on #923
I have trouble understanding your config, you should try with a simpler one to reproduce the issue because from what I see here:

The user "leo" from userbase "users" was correctly resolved and an mda session was setup for him:

    Ju  n 22 01:12:21 grym smtpd[14657]: mda: new user 8239c3c54fc76565 for "users:leo"
    Jun 22 01:12:21 grym smtpd[14657]: debug: lka: userinfo users:leo
    Jun 22 01

[2019-06-25 20:44] poolpOrg commented on #917
diff is ready and sent to hackers pending review

[2019-06-25 20:47] Ekleog commented on #923
My understanding is that the code doesn't actually go up to forking the mda script, because the `stat=Error (user unknown)` error appears to come from an `EX_NOUSER` int, that can only be raised from
https://github.com/OpenSMTPD/OpenSMTPD/blob/portable/smtpd/smtpd.c#L1414

This code path is compatible with the `debug: smtpd: forking mda […] leo as leo`  message, that is just a few lines above. The

[2019-06-25 20:48] Ekleog commented on #923
… actually, thinking about it, maybe replacing the `MDA_PERMFAIL` with `MDA_TEMPFAIL` would allow me to more easily test stuff by at least not bouncing stuff? I'll attempt it if you suggest some places you'd like to see instrumented to confirm things :)

[2019-06-25 21:14] poolpOrg commented on #923
This getpwnam() call is _supposedly_ only called when the `user` keyword is specified on an action (as in `action foobar mda "bleh" user _vmail`), with the `mbox` delivery as the user must be enforced to `root` or when an alias or .forward expands to a command.

Maybe slapping a log_debug() here would be interesting to understand what happened:

    if (dsp->u.local.user)
        log_debug("user o

[2019-06-26 08:47] poolpOrg commented on #917
committed to OpenBSD, will sync to github shortly

[2019-06-26 08:47] #917 closed

[2019-06-26 08:58] poolpOrg commented on #598
Better late than never:

I'm currently working on switching OpenSMTPD from libssl to libtls and a side-effect is that how we deal with certificate lookups gets simplified: we no longer lookup for certificates by PKI name but register valid certificates for a listener and let libtls to the proper matching, including wildcards.

As a result, your feature request will be closed because it will not be

[2019-06-26 08:58] #598 closed

[2019-06-26 09:04] poolpOrg commented on #880
Work is in progress to switch OpenSMTPD from libssl to libtls which makes supporting SNI much easier.

[2019-06-26 09:08] poolpOrg commented on #904
this is an interesting idea yes

[2019-07-11 15:11] ArchangeGabriel opened #924 "MTA-STS support"
See e.g. https://www.hardenize.com/blog/mta-sts.

[2019-07-26 12:13] levaidaniel opened #926 "smtpd accept client certificate only from a specific CA"
Having this on my relay host running OpenBSD 6.5-stable:

smtpd.conf:
ca myCA cert "/path/to/myCA.pem"

listen on egress port submission \
tls-require verify \
ca myCA

It seems that this also accepts any certificate that is trusted based on the default /etc/ssl/certs.pem file, along with a certificate signed by myCA.
(Re)moving the stock certs file "fixes" this (although with a warning in the log

[2019-08-07 16:38] hostingnuggets opened #927 "Document SMTP limit configuration options"
As discussed on the mailing list it would be great if the smtpd.conf man page could include some documentation about the SMTP limit configuration options such as `max-mails` and `max-rcpt`.

[2019-08-10 13:35] poolpOrg commented on #927
I have added the missing documentation bits and committed to OpenBSD, this will be synchronized to github shortly.

[2019-08-10 13:35] #927 closed

[2019-08-10 15:18] hostingnuggets commented on #927
Cheers :+1:

[2019-08-10 22:22] edgarpettijohn opened #928 "AUTH failures in table-mysql and possibly other -extras requires restarting smtpd"
Please see post to misc@opensmtpd.org on 21 Jul 2019 for full details.

Periodic authentication failures requires restarting smtpd.

[2019-08-11 11:04] poolpOrg commented on #838
The socketmap table backend has been fixed.

[2019-08-11 11:04] #838 closed

[2019-08-11 11:07] poolpOrg commented on #874
unlikely to be done for OpenSMTPD 6.6, however might very well be written for 6.7

[2019-08-11 11:17] poolpOrg commented on #850
@mikygee the log format was normalized so the cert line is no longer different than other lines, in addition you might want to look at the reporting API which is far better for an integration with logstash.

@whataboutpereira the reporting API does provide source and dest port used in case you want them in logstash. If you feel they should also appear in regular logs, please open a separate issue.

[2019-08-11 11:17] #850 closed

[2019-08-11 11:17] poolpOrg commented on #898
fixed.

[2019-08-11 11:17] #898 closed

[2019-08-11 11:51] poolpOrg commented on #897
diff being tested

[2019-08-11 13:58] poolpOrg commented on #897
diff okayed semarie@, sent to tech waiting for feedback

[2019-08-11 14:26] poolpOrg commented on #843
This was discussed a while ago with @ericfaurot and we both think it is a bad idea.

OpenSMTPD already tells you what user was tested and the authentication result, it doesn't care if the auth failure was caused by an inexistant username or an invalid password, from its point of view its the same.

What you want can be achieved through external scripting so we're not going to implement it, sorry.

[2019-08-11 14:26] #843 closed

[2019-08-11 14:35] poolpOrg commented on #791
Hello,

Providing multiple actions for a recipient is not doable by design, however now that the filtering API is here, we can easily write a filter that does archiving or dual delivery.

[2019-08-11 14:37] poolpOrg commented on #799
Discussed with @ericfaurot , ideas have floated, we need something much simpler.

[2019-08-11 14:57] poolpOrg commented on #480
The expansion variables were completely revamped two releases ago, there is no way they can be used in lookups as they are simply no longer accessible outside the MDA layer which is not visible from the lookup layer.

A different mechanism may be possible but this will require a redesign of table API which is not a priority for the time being.

Closing this feature request as it will simply not ha

[2019-08-11 14:57] #480 closed

[2019-08-11 15:18] poolpOrg commented on #788
no feedback since 2016, closing.

[2019-08-11 15:18] #788 closed

[2019-08-11 15:23] poolpOrg commented on #851
Is this still an issue ?

If so, can you please provide full configuration with your ldap table config ?

[2019-08-11 15:23] poolpOrg commented on #923
Any feedback on this ?

[2019-08-11 15:27] poolpOrg commented on #836
The issue has been fixed a while ago, this is the output with an sqlite database I just created with a user holding a NULL password:

    debug: lka: authenticating for creds:test
    lookup: lookup "test" as CREDENTIALS in table proc:creds -> "test:(null)"
    22d24f12bf34f348 smtp authentication user=test result=permfail
    22d24f12bf34f348 smtp failed-command command="AUTH PLAIN (...)" result=

[2019-08-11 15:27] #836 closed

[2019-08-11 15:29] poolpOrg commented on #812
No discussion took place around this feature request opened almost 2 years ago, I still think it's not the table purpose to perform authentication and given that it can be achieved with bsd_auth(3) or pam(3), I consider this won't go anywere now

[2019-08-11 15:29] #812 closed

[2019-08-11 16:40] poolpOrg commented on #481
has not happened since 2014, unless someone comes with a use-case and a draft, this is unlikely to happen as I feel most use-cases can be solved through bsd_auth(3) or pam(3) unless proven wrong.

[2019-08-11 16:40] #481 closed

[2019-08-11 17:23] poolpOrg commented on #919
implemented and committed to OpenBSD, will hit github soon.

[2019-08-11 17:23] #919 closed

[2019-08-11 17:25] pywy18 commented on #919
Great news!

[2019-08-11 18:32] Ekleog commented on #923
Didn't get the time to investigate more yet, sorry! I'll make sure to add details here when I manage to figure them out.

[2019-08-13 16:03] poolpOrg commented on #897
committed to OpenBSD, will be synched to github shortly.

[2019-08-13 16:03] #897 closed

[2019-08-13 23:43] korylprince commented on #791
Sounds good to me. Is there any documentation on the filtering API beyond your blog posts?

[2019-08-14 06:14] poolpOrg commented on #791
I'm currently documenting the API 😊

[2019-08-18 15:36] poolpOrg commented on #928
I took the liberty of rewording the issue synopsis because it was very alarmist and made it sound far more critical than it really:

- stock OpenSMTPD does not require restart upon AUTH failures
- various auth backends do not require restart upon AUTH failures either

You are experincing this with the MySQL backend, a similar issue happened in the past with the PostgreSQL backend but it was fixed

[2019-08-19 15:45] ericfaurot commented on #639
I finally committed something that improves the situation.

[2019-08-19 15:45] #639 closed

[2019-08-19 16:02] poolpOrg commented on #791
Filtering API will be part of the next release, including work-in-progress documentation.

Discussed this issue with @ericfaurot, I'll close it because there's nothing that will be done in OpenSMTPD with regard to this, a third-party filter will have to be written.

If someone wants to write on such a filter, I'll be happy to help but this will not land in the OpenSMTPD repository.

[2019-08-19 16:02] #791 closed

[2019-08-20 07:33] poolpOrg commented on #741
I implemented the line continuation concat in revision 1.76 of mta_session.c a few years ago:

https://cvsweb.openbsd.org/cgi-bin/cvsweb/src/usr.sbin/smtpd/mta_session.c.diff?r1=1.75&r2=1.76&f=h

[2019-08-20 07:33] #741 closed

[2019-08-20 08:26] poolpOrg commented on #912
We won't use Docker Hub for CI:

- GitHub is going to provide free CI/CD for projects with public repositories and we'll be able to run docker instances from our own machines
- Docker Hub required Admin privileges in the repository which makes me uncomfortable

[2019-08-20 08:26] #912 closed

[2019-08-20 08:33] poolpOrg commented on #841
I thought this was an interesting feature but on a second thought I realized it is already doable without requiring a new feature:

    table whitelist { poolp.org, opensmtpd.org }

    action unsafe relay
    action safe relay tls

    match [...] for domain <whitelist> action unsafe
    match [...] for any action safe

[2019-08-20 08:33] #841 closed

[2019-08-20 08:39] ArchangeGabriel commented on #841
Nice. :) Another improvement in this direction will be #924. ;)

[2019-08-20 08:39] poolpOrg commented on #677
@nerzhul is this still an issue ?

there were many fixes applied to both opensmtpd and table-ldap since the ticket was opened.

can you give it a run with latest portable code from github ?

[2019-08-20 08:54] poolpOrg commented on #924
This is a bit controversial.

If this didn't get adopted by Gmail, I would have rejected the feature request because an HTTP client has nothing to do in an SMTP server ... but I'm also realistic and this decision by Google coupled with how easy it is to put a file on a webserver vs setting up DANE may cause MTA-STS to be adopted at large.

I think we should be cautious and don't run into this but

[2019-08-20 08:56] poolpOrg commented on #923
10:41 < ekleog> __gilles: yeah, sorry for not having had the time to look into that again :/ feel free to close if you want, I've added "look into it" on my personal
                todo-list, so I should come back to it eventually when I get some more time

[2019-08-20 08:56] #923 closed

[2019-08-20 09:05] poolpOrg commented on #924
https://github.com/OpenSMTPD/OpenSMTPD/projects/4

[2019-08-20 09:06] ArchangeGabriel commented on #924
Yeah I understand the mixed feelings about HTTP in a SMTP client. Still, HTTP is already required to do OCSP (but I guess this {sh,c}ould be left to the underlying TLS library).

But of course this can wait, for now we don’t even have smtpd 6.4 on Arch (still didn’t have the time to look at libressl packaging), and I personnally wait more on being able to plug rspamd with smtpd than supporting MTA

[2019-08-20 09:07] poolpOrg commented on #800
created a project.

[2019-08-20 09:07] #800 closed

[2019-08-20 10:17] poolpOrg commented on #765
Could never reproduce the issue but this getpid() loop looks like something coming from the compat layer and tons of fixes happened in the compat layer since 2017. I'll close the ticket as the issue may very well have been fixed as a side-effect of cleanups / improvements.

I have installed a musl-based Linux and after I'm confident enough I might push one in a set of production MX.

If you hit th

[2019-08-20 10:17] #765 closed

[2019-08-20 10:31] jirutka commented on #765
I’m running OpenSMTPD on Alpine since May 2017 and never encountered this problem.

[2019-08-20 10:38] poolpOrg commented on #765
Yes, I'm fairly comfident this was caused by some of the compat glue for arc4random & friends and several fixes were applied there to ifdef protect bits, properly detect if needed, etc...

Anyways, if it happens again we'll investigate further but I've never been able to reproduce so I assume this was fixed as a side-effect of other commits.

[2019-08-20 17:29] poolpOrg commented on #904
So, I implemented the feature you want but it makes more sense to me as a filter than as an option in the daemon because surely there's at least 10 different ways we will want to check the sender domain in the future.

Anyways, enjoy:

https://github.com/poolpOrg/filter-checksenderdomain

[2019-08-20 17:29] #904 closed

[2019-08-20 19:20] poolpOrg commented on #443
I have written the code but waiting for a LibreSSL hacker to confirm I'm doing the right thing :-)

[2019-08-21 12:54] jirutka opened #929 "Random process crashes on the (almost) lastest portable"
I’m running OpenSMTPD built from 772da22936c8d80f7ad3284ea7e5bdbfdbee2efb (+ [this patch](https://github.com/jirutka/user-aports/blob/v3.10/user/opensmtpd/musl-compat.patch) for musl compatibility) with OpenSSL 1.1.1c* on Alpine Linux 3.10 (musl libc) with filter [opensmtpd-filter-rewrite-from](http://github.com/jirutka/opensmtpd-filter-rewrite-from). It’s randomly crashes during email relaying.

[2019-08-21 14:46] opensmtpd-github commented on #929
do these happen without filters ?

[2019-08-21 14:48] poolpOrg commented on #929
Can you reproduce without your filter ?

[2019-08-21 15:36] jirutka commented on #929
I don’t know how to reproduce it, it didn’t crash when I was trying to reproduce it. And I cannot let it run in production without that filter.

[2019-08-21 15:43] jirutka commented on #929
At morning it crashed with a different error message:

    Aug 21 08:59:32 no-reply mail.crit smtpd[2536]: smtpd: process ca socket closed

[2019-08-21 16:02] opensmtpd-github commented on #929
On Wed, Aug 21, 2019 at 08:43:50AM -0700, Jakub Jirutka wrote:

i'm without smtp out trafic at home, will check if i can setup an alpine
on a vps with smtp-out somewhere and do some testing

--
Gilles Chehade						       @poolpOrg

https://www.poolp.org            patreon: https://www.patreon.com/gilles

[2019-08-21 16:20] poolpOrg commented on #443
libtls branch has switched to ocsp aware keypair loading.

I'm waiting for a diff to be committed to LibreSSL before I can test this for real outside of my laptop and close the ticket.

[2019-08-21 16:46] jirutka commented on #929
I can provide you SSH access to some VM with Alpine installed if it would help you.

[2019-08-22 04:59] poolpOrg commented on #929
That would be helpful yes if it can send mail to the outside, i'll setup something between that vm and my machines to try reproducing.

[2019-08-22 06:03] poolpOrg commented on #444
So, this has become trivial with the libtls conversion:

    8afeb1d4fe8f7bb9 mta tls ciphers=TLSv1.2:ECDHE-RSA-AES256-GCM-SHA384:256
    8afeb1d4fe8f7bb9 mta cert-check result="failure" fingerprint="SHA256:10b7bd2bc6bc1ec0eda97bef7fad8fc78e8bb6d9a9d6bb48faa63a7ec26bc9ad"

All we need to do is add an optional fingerprint table to relay rules and perform a lookup table with the fingerprint as the k

[2019-08-23 14:23] norrland opened #930 "spfwalk: handle CNAME in MX records"
When doing spf walk on an domain with MX records pointing to a CNAME record, spfwalk will print random IP addresses for that domain.

[code]
DNS records:
[code]

[code]

[2019-08-23 14:43] ericfaurot commented on #930
This should fix it.

[spfwalk.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/3534987/spfwalk.txt)

[2019-08-23 15:09] poolpOrg commented on #930
ok gilles@

[2019-08-23 15:53] ericfaurot commented on #930
committed on CVS, will be part of the next sync.

[2019-08-23 15:53] #930 closed

[2019-08-24 17:25] jirutka commented on #929
gilles@185.8.164.31

[2019-08-26 15:52] arjenz commented on #904
Thank you! I'll give it a try.

[2019-08-28 13:38] Glandos opened #931 "Support for SMTPUTF8 (RFC 6531)"
Small issue to track SMTPUTF8 support from [RFC 6531](https://tools.ietf.org/html/rfc6531).

Is it even planned?

[2019-08-29 10:40] jirutka commented on #929
Just a note, I’ve created the VM in the playground environment, so it will be available only for 1 month.

[2019-08-29 10:43] jirutka commented on #929
I’ve encountered a different crash, now from SSL library:

[code]

This version of OpenSMTPD is very unreliable for me. :(

[2019-08-29 14:17] poolpOrg commented on #931
It's not planned, it's not not planned, it's in a quantum state

[2019-08-31 10:30] jirutka commented on #929
@poolpOrg, I’ve updated to 72758123b7c2c83efeefb12623bde59fe5b810ac (the current latest portable), but no change at all, it’s still randomly crashing.

[2019-09-01 00:21] poolpOrg commented on #929
Yes, I haven't had time to check yet but this is high on my list

[2019-09-02 12:34] whataboutpereira opened #932 "Missing space on rules trace log in current portable."
Sep  2 15:18:12 orc smtpd[28757]: rule #2 matched: match tag <dynamic:2> from localfor domain domains => deliver_lmtp
Sep  2 15:18:12 orc smtpd[28757]: rule #3 matched: match tag <dynamic:3> from localfor any => relay_outgoing

Sorry for such a trivial report! :)

Running with -T rules yields a missing a space between from local and for any in the logs. :)

[2019-09-02 21:59] poolpOrg commented on #932
fix committed to OpenBSD, will be synched here shortly.

[2019-09-02 21:59] #932 closed

[2019-09-10 15:08] poolpOrg opened #933 "plug CI actions"
Github has enabled actions, lets see if we can put some CI

[2019-09-10 17:20] poolpOrg commented on #933
done

[2019-09-10 17:20] #933 closed

[2019-09-14 14:29] mchack23 opened #936 "compilation errors in portable branch in smtpd/ca.c in function rsae_pub_enc on openbsd 6.5"
When trying to compile the portable branch in openbsd 6.5 it fails with errors:

Making all in smtpd
gcc -DHAVE_CONFIG_H -I. -I../..  -I../../smtpd -I../../openbsd-compat -I../../openbsd-compat/err_h  -I../../openbsd-compat/paths_h -I. -I/usr/include -I/usr/local/include
  -DSMTPD_CONFDIR=\"/usr/local/etc\"                         -DPATH_CHROOT=\"/var/empty\"              -DPATH_SMTPCTL=\"/usr/loc

[2019-09-14 14:42] poolpOrg commented on #936
On OpenBSD you need the master branch, not the portable branch which is for other systems.The master branch is synchronized with OpenBSD's development version so at times (like right now) it may require a feature not available in latest stable release.

[2019-09-14 14:56] mchack23 commented on #936
I see thanks for the hint :)

[2019-09-14 14:56] #936 closed

[2019-09-14 15:04] poolpOrg commented on #936
Oh and if you use an OpenBSD snapshot you already have OpenSMTPD installed, the same version as in the master branch ☺️On Sep 14, 2019 16:56, mchack23 <notifications@github.com> wrote:Closed #936.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-14 19:38] whataboutpereira opened #937 "Invalid character "/" in localpart when delivering via LMTP."
I went to make an account on dnswl.org out of curiousity and their confirmation e-mail didn't reach me. It turns out that:

`Sep 14 22:13:22 host smtpd[27198]: b61dca7480d2b716 mda delivery evpid=b9a06e0dc2f14508 from=<hostmaster+public/www-data@dnswl.org> to=<my@mail.address> rcpt=<my@mail.address> user=3 delay=40s result=TempFail stat=Error (temporary failure: "mail.lmtp: LMTP server error: 501

[2019-09-15 10:14] poolpOrg commented on #937
there's a bit of code which sanitizes addresses after they are accepted by OpenSMTPD but before they are used in delivery and I think it's being triggered a bit too early.

I'll test a diff

[2019-09-15 15:14] whataboutpereira opened #938 "Spaces missing from smtpctl error messages."
Hello! I found more error messages that are missing spaces:

sudo smtpctl show message 4d79e896a9d17257
smtpctl: No such file or directoryfopen

[2019-09-16 14:57] jirutka commented on #929
Any change…?

[2019-09-16 15:46] poolpOrg commented on #929
not yet but i've just entered my "opensource" week so I'm on it

[2019-09-16 16:57] poolpOrg commented on #929
I'll address the two issues separately:

Regarding the initial crash, I've tried but I'm unable to reproduce on an alpine setup similar to yours both in terms of using OpenSSL and in terms of setup using a relay host. I'll keep it running a while and taking real trafic but not knowing if your filter caused it is an issue for troubleshooting as we've committed four days ago a diff to fix a race con

[2019-09-16 17:10] jirutka commented on #929
If the filter caused a crash, I would expect OpenSMTPD to log it (“lost processor: <dynproc:00000001> exited abnormally” or “misbehaving filter”), but I don’t see any message regarding the filter.

I’ll update my instance to the latest portable and let you know if something changed.

IIRC it crashed right after this message, but I’m not 100% sure now. I’ve already fixed the problem on the client s

[2019-09-16 17:26] poolpOrg commented on #929
Not necessarily, when I said "if your filter caused a crash" I didn't mean it necessarily as your filter crashing, it could also be that your filter does something which causes OpenSMTPD itself to crash.

This is what happened in the race condition we fixed this week, where if a session was disconnected for some reason _while_ a filter was working, upon response of the filter, the session would no

[2019-09-16 20:54] poolpOrg commented on #938
Hello,

You need to provide more details, such as the version you are using and the system because on a recent OpenBSD with a recent OpenSMTPD:

    smtpctl: fopen: No such file or directory

[2019-09-16 21:03] poolpOrg commented on #937
can you test this and see if it makes things better ?

[unescape.diff.txt](https://github.com/OpenSMTPD/OpenSMTPD/files/3618187/unescape.diff.txt)

[2019-09-16 22:14] whataboutpereira commented on #938
I'm seeing these using the current portable from a couple of days ago on CentOS 7.

[2019-09-17 07:27] whataboutpereira commented on #937
Unfortunately it still fails - here is the excerpt from LMTP rawlog from Dovecot:

`1568705021.498888 MAIL FROM:<hostmaster+public:www-data@dnswl.org>`

The actual address is hostmaster+public/www-data@dnswl.org

The / is turning into a : for some reason.

[2019-09-17 08:00] poolpOrg commented on #937
Are you sure the diff is applied correctly, binary reinstalled and daemon restarted ?

I don't see how this can possibly happen:

    laptop$ grep ESCAPE *|grep -v mail.maildir.c
    mda_variables.c:                        if (strchr(MAILADDR_ESCAPE, tmp[i]))
    smtpd.h:#define MAILADDR_ESCAPE         "!#$&*?^`{|}"
    laptop$

There is no escaping from '/' so either OpenSMTPD magically figured i

[2019-09-17 08:19] whataboutpereira commented on #937
Just a stab in the relative dark - grepping for "/" and ":" yielded:

mda_variables.c:		*dest = (replace && *string == '/') ? ':' : *string;

I also ran smtpd -dv -T all, but saw no mention of the sender addresss when it was LMTP-d to Dovecot.

If all fails, I'll check with the Dovecot list.

[2019-09-17 08:23] poolpOrg commented on #937
indeed, this will need to be reworked as it's error-prone...

can you set replace to 0 before entering the loop and see if it improves the situation ?

[2019-09-17 08:35] poolpOrg commented on #926
Hi,

investigated this and I understand what happens, I misunderstood your initial issue.

indeed, this _adds_ your CA to the system's list of CA, it doesn't replace them.

there's no way currently in OpenSMTPD to only use your CA unless you tweak  the stock certs and we're too close to the release to change that.

we're not making changes to the TLS layer at this point unless there's something cr

[2019-09-17 08:47] levaidaniel commented on #926
Oh, gotcha! Thanks for digging into this and the information!

Dani

[2019-09-17 08:50] whataboutpereira commented on #937
Nice, it worked now after a couple of RPM rebuilds and the e-mail landed in Dovecot. :)

Will it break something else now?

[2019-09-17 13:08] jirutka commented on #929
Today it crashed four times and every time with the following message (with different token and sid ofc):

[code]

I don’t understand what’s wrong with this particular message. I’m not modifying it in any way, just printing what I read on stdin.

Relevant lines from the filter:

[code]

[2019-09-17 13:43] poolpOrg commented on #929
I think you're still running the code from 7275812 and not the latest code from the portable branch.

The error message you've shown can only trigger for that line if you're running the code from 7275812 as it contains a typo which I fixed in the very next commit:

https://cvsweb.openbsd.org/cgi-bin/cvsweb/src/usr.sbin/smtpd/lka_proc.c.diff?r1=1.9&r2=1.10&f=h

Can you update and confirm ?

[2019-09-17 14:59] jirutka commented on #929
Ah, sorry, you’re right! I really did update OpenSMTPD, but to the package built from 7275812, not the latest one – I forgot to install the update after updating the package some time ago and didn’t notice the version number now.

Anyway, now I’m really running on the latest portable. I will let you know tomorrow if it crashed.

[2019-09-17 16:46] poolpOrg commented on #929
cool

[2019-09-18 22:19] poolpOrg commented on #937
I don't think it'll have a negative side-effect.

I sent a diff to other OpenSMTPD hackers and waiting for an ok

[2019-09-18 22:47] whataboutpereira commented on #937
Wonderful, thank you. Been running with replace 0 since yesterday without problems.

[2019-09-18 22:52] poolpOrg commented on #929
Hi,

Any news ?

[2019-09-18 23:03] poolpOrg commented on #938
This should be fixed in the current -portable branch, can you test and confirm ?

[2019-09-19 07:57] whataboutpereira commented on #938
The error message is nicely fixed now.

I notice there's a new smtp command in the works now - using it yielded:

smtp: SSL_CTX_load_verify_locations: No such file or directory

I'm compiling on CentOS 7 with static OpenSSL libraries - could that be the problem or would you like me to report it separately?

[2019-09-19 09:13] poolpOrg commented on #938
separately pleaseOn Sep 19, 2019 09:57, Reio Remma <notifications@github.com> wrote:The error message is nicely fixed now.
I notice there's a new smtp command in the works now - using it yielded:
smtp: SSL_CTX_load_verify_locations: No such file or directory
I'm compiling on CentOS 7 with static OpenSSL libraries - could that be the problem or would you like me to report it separately?

—You are r

[2019-09-19 09:15] whataboutpereira opened #939 "New smtp command in the current portable."
I notice there's a new smtp command in the works now - using it yielded:

smtp: SSL_CTX_load_verify_locations: No such file or directory

I'm compiling on CentOS 7 with static OpenSSL 1.1.1 libraries - could that be the problem or might it be a problem with general portability?

[2019-09-19 09:18] #938 closed

[2019-09-19 09:18] poolpOrg commented on #937
diff committed to OpenBSD, will be synched here shortly

[2019-09-19 09:18] #937 closed

[2019-09-19 09:19] whataboutpereira commented on #937
Thanks again!

[2019-09-19 09:24] poolpOrg opened #940 "SRS support is needed"
SRS support should be provided by OpenSMTPD to improve situation for forward hosts when relaying strict SPF senders.

[2019-09-19 09:24] poolpOrg commented on #940
diff in progress

[2019-09-19 15:05] jirutka commented on #929
[code]

This one came out of nowhere:

[code]

[code]

[2019-09-19 16:49] poolpOrg commented on #940
diff running @ openbsd.org and mailbrix.mx

[2019-09-19 16:58] poolpOrg commented on #939
can you edit smtpc.c and add this just before the SSL_CTX_load_verify_locations() call ?

    warnx("DEFAULT CERT FILE: %s", X509_get_default_cert_file());

I think this is a general portability issue

[2019-09-19 17:27] whataboutpereira commented on #939
$ smtp
smtp: DEFAULT CERT FILE: /etc/ssl/cert.pem
smtp: SSL_CTX_load_verify_locations: No such file or directory

I can find the only cert.pem on CentOS 7 here:

$ locate cert.pem
/etc/pki/tls/cert.pem

[2019-09-19 17:31] whataboutpereira commented on #939
OpenSMTPD is compiled with --with-path-CAfile=/etc/pki/tls/cert.pem - is that the same file it's looking for?

[2019-09-19 22:59] poolpOrg commented on #939
indeed, that's a weird packaging issue though if `X509_get_default_cert_file()` returns a path different than the one configured for OpenSMTPD, it means that OpenSSL and OpenSMTPD were configured to look at different places :-/

[2019-09-20 08:12] whataboutpereira commented on #939
It turned out the instructions I had were wrong and the openssl path itself was wrong when I compiled it. Compiling OpenSSL with the proper /etc/pki/tls/cert.pem has gotten rid of the SSL_CTX_load_verify_locations error.

[2019-09-20 08:12] #939 closed

[2019-09-20 08:17] whataboutpereira commented on #937
I noticed the changes from OpenBSD are in and can confirm it works with the current portable.

[2019-09-20 18:05] poolpOrg commented on #940
committed

[2019-09-20 18:05] #940 closed

[2019-09-28 12:40] ericfaurot commented on #750
One year later... I just fixed a bug in libasr that may very well explain this issue.
In fact I'm almost 100% sure it is the case.

[2019-09-30 10:05] jdelic opened #941 "Identify the opensmtpd version and filter api version in the filter protocol"
As far as I can see, when looking at the articles available on poolp.org about OpenSMTPD filters, especially [the latest update](https://poolp.org/posts/2019-06-30/june-2019-report-fion-bpg-and-smtpd/), there is currently no way for a filter to know what version of OpenSMTPD or it's filter API the filter is running against.

With the [introduction of the 'Junk' action](https://poolp.org/posts/2019

[2019-09-30 11:17] jirutka commented on #929
@poolpOrg, any news?

[2019-09-30 12:07] poolpOrg commented on #929
nope, got context switched but this is still being investigated, whole october is on stabilization

[2019-09-30 12:42] poolpOrg commented on #941
I'm not sure what you mean because the protocol version is part of the protocol header in each line

[2019-09-30 12:45] whataboutpereira commented on #941
Register lines don't appear to have the version number. Maybe that?

[2019-09-30 12:45] poolpOrg commented on #941
mh. why not

[2019-09-30 12:47] whataboutpereira commented on #941
config|smtp-session-timeout|300
config|ready
OpenSMTPD eventlog loaded.
report|0.4|1569838169.191163|smtp-in|link-connect|9cc4337faac625b2|host|pass|192.168.1.3:51906|0.0.0.0:25

[2019-09-30 13:28] poolpOrg commented on #941
I have added an smtpd-version config key during the initial handshake, this will be sync to github soon.

[2019-09-30 13:28] #941 closed

[2019-09-30 14:54] jdelic commented on #941
@poolpOrg  @whataboutpereira
wow, that's a quick turn-around time :). Thank you!

I actually didn't even realize that the version number was in each line (oops). Does that mean that the version number `0.4` indicates presence of `junk`? In that case my use-case would have been already covered.

However, having the version as early as possible is definitely useful if the filter protocol introduces

[2019-10-03 07:17] poolpOrg commented on #929
I have two possible candidates for this bug which would explain why I don't observe them.

Investigation still in progress.

[2019-10-03 08:27] poolpOrg commented on #929
OK, I'm out of ideas.

I've setup a brand new alpine machine, built OpenSMTPD with OpenSSL 1.1.1c, I tested incoming and outgoing TLS, I tested DNS-resolved MX and relay host MX over TLS, received and sent thousands of mails and did not observe a single crash.

I need to be able to replicate your setup otherwise we're out of luck fixing this, I've seen your config but this is not enough for me to

[2019-10-03 09:25] jdelic commented on #929
@jirutka

any chance of running this with debug symbols compiled in and core dumps enabled?

[2019-10-03 13:38] jirutka commented on #929
I’m using Alpine v3.10, there’s currently OpenSSL 1.1.1d. You can install the exact OpenSMTPD binary that I’m running from my packages:

[code]

It’s built from [this APKBUILD](https://github.com/jirutka/user-aports/blob/v3.10/user/opensmtpd/APKBUILD).

It works only as a relay for clients on the local network and relays all the mails via single relay server. I don’t know if it happens only with s

[2019-10-10 17:27] ngortheone opened #944 "Build with libressl is failing"
Ran into this today:

`OpenSMTPD $ docker build -t opensmtpd-dev . `

[code]

I am not a C dev, but it looks like a conflicting name with stdlib

[2019-10-10 19:03] ngortheone commented on #944
Steps to reproduce
1. Checkout portable branch
2. Run `docker build -t opensmtpd-portable-dev .`

[2019-10-11 14:10] ngortheone commented on #944
I am completely puzzled. Same code compiles fine on debain. (compiler version is the same)

[2019-10-11 14:38] ngortheone commented on #944
So, here is the problem, but I dunno how to fix it.

./openbsd-compat/openbsd-compat.h
[code]
./openbsd-compat/arc4random.c
[code]

HAVE_ARC4RANDOM_STIR - not defined
HAVE_ARC4RANDOM - not defined
LIBRESSL_VERSION_NUMBER - defined!

so it results in mismatch between header definition and arc4random.c
[code]
vs
[code]

[2019-10-11 14:59] ngortheone commented on #944
all problems go away when I swap libressl with openssl

[2019-10-11 16:05] ngortheone commented on #908
@EmperorArthur it looks like it could be related to https://github.com/OpenSMTPD/OpenSMTPD/issues/944

I got docker build working with this fix https://github.com/OpenSMTPD/OpenSMTPD/pull/945

[2019-10-13 19:40] ngortheone opened #947 "[Discussion] Dockerfile improvements"
This is a split of PR https://github.com/OpenSMTPD/OpenSMTPD/pull/945

@poolpOrg
In current state a few problems exist with current Dockerfile setup:

1. Not usable without mounting external volumes `/etc/mail` and `/var/spool/smtpd` for several reasons
1.1. Default configuration file references non-existing `aliases` file
1.2. If nothing mounted to `/var/spool/smtpd` then permissions of the folde

[2019-10-14 15:00] jirutka commented on #929
Any news?

[2019-10-16 09:21] whataboutpereira opened #948 "OpenSMTPD filters receive escaped "." which breaks DKIM processing."
As we found out with filter-rspamd, data lines fed to filters beginning with "." are escaped to ".." and whenever that happens, DKIM checks will fail.

Filters should probably be fed pure unescaped lines - the raw incoming mail.

Attached are 2 files:

• filter.txt - the data inside filters.
• delivered.txt - the actual delivered mail

Note the lines starting with ..woff etc.

[filter.txt](https:/

[2019-10-18 15:43] poolpOrg commented on #948
The escaping is legit in OpenSMTPD as this is the SMTP protocol escaping, the filters receive raw lines so they should unescape if they so want to.

Closing this issue as it was fixed in my filter-rspamd, by you ;-)

[2019-10-18 15:43] #948 closed

[2019-10-18 21:14] ngortheone commented on #948
I want to add that this information absoulutely must be available to filter developers in a form of documentation.

poolpOrg, is there existing filter dev documentation? If there isnt one where would be the best place to put it?

On October 18, 2019 11:43:22 AM EDT, Gilles Chehade <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-10-19 10:43] poolpOrg commented on #948
@ngortheone the right place is a man page, I had started one but given that the protocol is not yet 1.0 I didnt want to make it part of 6.6.0 so it isnt carved in stone yet. i'll commit it shortly so that it is documented in dev branch and ready for 6.7.0

[2019-10-20 12:16] fgma commented on #947
My suggestion would be to integrate opensmtpd-extras into the docker container. One could use docker-compose to deploy a complete mail server with dovecot and a database for user management that way.

[2019-10-20 16:31] ngortheone commented on #947
That is possible. In fact I was privately working on something similar (more Kubernetes oriented, but swarm can be added to). Having an official docker container is a good way to enable adoption of the application and encourage people to give it a try. I often search Dockerhub when I want to try a new thing.

But we should distinguish different goals that docker may serve:

- One is ease of develo

[2019-10-20 18:28] poolpOrg commented on #947
Bear with me as I'm not too familiar with Docker, I'll state my state of mind regarding Docker first then answer the individual points, possibly raising other questions.

First of all, the OpenSMTPD project will not provide or endorse a "usable" setup or image that people can deploy to have a working instance out of the box and already properly configured to run. This is not a bad idea or anything

[2019-10-20 18:56] fgma commented on #947
@poolpOrg I'm in the process of  evaluating a mailserver setup based on opensmtpd. I need virtual users from some sort of database. Reading @ngortheone's posting I thought it might be nice to have a full featured docker container as a base also for other users. In the end I don't really care if it is opensmtpd-extras or something new providing the same functionality.

As you've already written you

[2019-10-20 19:02] poolpOrg commented on #947
No doubt, there's no reason it can't be made available in most distributions.

The only known problem so far is the musl based distros

[2019-10-20 19:25] ngortheone opened #949 "Add default aliases file"
As discussed in

https://github.com/OpenSMTPD/OpenSMTPD/issues/947#issuecomment-544278573

[2019-10-20 20:22] ngortheone commented on #947
My preliminary tests show that openssl works OK on musl based distro - alpine linux. I haven't done any serious testing by any means though.

@poolpOrg  opened an issue to track this https://github.com/OpenSMTPD/OpenSMTPD/issues/949

I will create a PR with this soon

Yes. Given your answer I propose 2 different solutions.

1. Dockerfile(or maybe 2, one for musl and one for normal libc) in this re

[2019-10-22 10:32] nanaya opened #950 "6.6 (5e68099b) doesn't compile on FreeBSD 12.1-RC2?"
@poolpOrg in twitter asked me how I "fixed" this so here it goes.

<del>Note that my system used for compilation has seen quite a few upgrades and has a bunch of stuff installed. The base system should be relatively pristine but who knows what I did over the years.</del> Tried on fresh install, same error.

OS: FreeBSD 12.1-RC2

Yes I'm compiling as root. Please ignore that part :smiley:

Steps:

[2019-10-22 10:40] nanaya commented on #950
Update: same error on freebsd 12.0

[2019-10-22 20:26] poolpOrg commented on #950
can you give a try at building branch-6.6.0p1 without your diffs ?

I spotted a missing compat include in both files that failed to build ...

[2019-10-22 20:38] whataboutpereira commented on #947
I wonder if some of these changes will let me run OpenSMTPD in a LXC as well. Tried it, got some errors and turned to Postfix for now. Oh! The blasphemy!

[2019-10-23 01:03] nanaya commented on #950
That worked. Thanks.

[2019-10-23 01:03] #950 closed

[2019-10-23 07:35] poolpOrg commented on #947
@ngortheone ok for how you intend to do things

I'll give the IP issue some thinking this week-end, I understand how the default config is not usable in this context, maybe we can provide a "container" default config ?

The #949 issue also highlights that we may need an etc/ directory at the root of portable branch, because in the master branch we don't ship any files since they are part of the ba

[2019-10-23 13:24] ngortheone commented on #947
@poolpOrg I think that `etc` dir is a good idea to have various configs for different usecases

[2019-10-23 13:26] ngortheone commented on #947
We should also move dockerfile to its own folder, especially if we want a dockerfile per each distro.

Something like:
[code]

[2019-10-23 13:52] jirutka commented on #929
Now I found process `smtpd: pony express` consuming 100% of CPU and OpenSMTPD not responding on the submission port. This version is really unreliable as hell. :(

[2019-10-23 14:47] jirutka commented on #929
musl is not some strange libc, it’s strictly standard-compliant libc implementation. If some software crahes or even hangs on musl, it’s more a litmus paper that there’s someting wrong in it…

I’ll try to build OpenSMTPD against LibreSSL, maybe the problem is in compatibility with OpenSSL. I hope that it will work now because the last time I was not able to build it even against the latest stable

[2019-10-23 14:52] whataboutpereira commented on #929
FYI I'm running OpenSMTPD with OpenSSL 1.1.1d without problems.

[2019-10-23 14:56] jirutka commented on #929
BTW, I’m running OpenSMTPD 6.0.3p1 on Alpine Linux (with LibreSSL) for a long time without a single crash. The problems started just with the latest version.

[2019-10-23 16:36] poolpOrg commented on #929
There's been quite a few commits over the course of a year, which is why I keep calling for test regularly because _if_ a regression was introduced on musl-based distros between 6.0.3p1 and today, there's now >150 commits and 71 changed files to investigate, a year worth of commits to bisect:

https://github.com/OpenSMTPD/OpenSMTPD/compare/branch_opensmtpd-6.0.3...portable

And that's assuming the

[2019-10-23 16:39] ngortheone opened #954 "[Question] alternative build systems"
It is not a secret that autotools are not user friendly, complicated and slow.

Modern build tools like CMake+Ninja or Meson are much frendlier, have better editor/IDE support and provide faster build times.

[LibreSSL](https://github.com/libressl-portable/portable) supports CMake.

Also [OpenBSD policy](https://www.openbsd.org/policy.html) states:

CMake will also allow easier switch to clang lat

[2019-10-23 16:41] ngortheone commented on #949
@poolpOrg should I just add that file to our new `etc/` folder? What kind of trim would you like to give it? I see no problems committing it as is.

[2019-10-23 17:46] #949 closed

[2019-10-23 21:34] poolpOrg commented on #954
OH DAMN I hit back and forward and lost my comment :-(

ok, let me type it again:

I hate autotools, I'm a vocal hater of that pile of poo, I have literally had a branch called `autohell` so you can trust me when I say: I'm not a proponent of that framework.

That being said:

- I'm the only one working there at the moment so any new framework is going to annoy me
- If we have two build systems, I

[2019-10-24 21:24] rhavenn opened #957 "mail-from regex keeps throwing a syntax error"
Arch Linux with opensmtpd 6.4.2p1-1

I keep getting a syntax error when trying to use a 'mail-from regex' match. If I drop the regex my match works fine and smtpd starts without issue.

I have the following ACTION:
`action 'mydomain' relay host smtp+tls://mydomain@smtp.office365.com:587 tls auth <secrets>`

I have the MATCH that works:
`match for any mail-from "user@mydomain.com" action 'mydomain'

[2019-10-25 07:57] whataboutpereira commented on #957
How are you testing?

"match for any" is really "match from local for any" and will match only locally originated mails.

I just tested it and it worked, albeit in the current portable (v6.6).

You'll probably want to match the line end with $ as well.

[2019-10-25 08:06] whataboutpereira commented on #957
Oh, now I realize regex rules were added only in December 2018, v6.4.0 however is older than that, so shouldn't support regex at all.

[2019-10-25 13:02] poolpOrg commented on #957
As pointed by @whataboutpereira, the 6.4.2 release didn't support regex table lookups as they were introduced later, this is why you get a syntax error.

The 6.6.0p1 release is about to happen, very likely Monday, and will bring the regex stuff.

[2019-10-25 13:02] #957 closed

[2019-10-25 15:08] rhavenn commented on #957
My bad. Thanks for clarifying. Looking forward to 6.6 :)

[2019-10-26 17:12] ArchangeGabriel opened #958 "Error compiling 6.6.0p1 with LibreSSL"
On ArchLinux, with LibreSSL 3.0.2 and libasr 1.0.3:
[code]

[2019-10-26 17:31] ngortheone commented on #958
@ArchangeGabriel

I have seen this here:
https://github.com/OpenSMTPD/OpenSMTPD/issues/944

I bailed out and used openssl as I was not sure back th. But ultimately this has to be fixed.
@poolpOrg  - it looks like a bug in C code

[2019-10-26 21:43] ngortheone commented on #944
Re-opening because it causes problems for users

[2019-10-26 22:03] ngortheone commented on #944
#### Alpine Linux
fails probably due to [old LibreSSL](https://pkgs.alpinelinux.org/packages?name=libressl-dev&branch=v3.10)==2.7.5

And [OpenSSL](https://pkgs.alpinelinux.org/packages?name=openssl&branch=v3.10)==1.1.1d-r0

So that explains why OpenSSL build works and LibreSSL fails.

[2019-10-26 22:16] poolpOrg commented on #944
That is a known issue:

Because OpenSMTPD is developed on OpenBSD which ships LibreSSL, our target is LibreSSL and not OpenSSL. As a result, since the two have some differences in some API, OpenSMTPD > 6.0 no longer bu

[2019-10-26 22:18] ngortheone commented on #944
I have seen from the mailing list that LibreSSL >=3 should work. I am in progress of trying it out.

One thing I thought about is that we probably need to post some kind of CHANGES file, similar to what you posted on mailing list

[2019-10-26 22:21] poolpOrg commented on #958
Indeed.

I'll have a look at it tomorrow as I'm exhausted and only capable of breaking things at this late hour :-)

I'm not too concerned because this can be solved in a p2 release very soon.

[2019-10-26 22:24] poolpOrg commented on #944
yes, I had the same thought when I prepared the release.

On OpenBSD, we have a page to document the changes but there is no such thing for the portable release.

[2019-10-26 22:27] ngortheone commented on #944
I will create a PR later today with Changelog. And there should be a way to put this info onto releases tab as well (need to find how though)

[2019-10-27 21:45] ngortheone commented on #958
Hey @ArchangeGabriel

Can you share your build script? What other libraries/dependencies are installed during the build?
I want to reproduce this problem. I was trying to reproduce it with docker (dockerfile here: https://github.com/OpenSMTPD/OpenSMTPD/pull/961) but to my surprise everything worked.

@poolpOrg noticeably we also do not have this problem on ubuntu ci build. So at the moment I don't

[2019-10-27 22:41] ArchangeGabriel commented on #958
@ngortheone You can find it here (6.4.x): https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/opensmtpd.

They aren’t a lot of changes for 6.6, basically I’m just using the new `aliases` file that you’ve added instead of an empty one.

[2019-10-27 23:10] ngortheone commented on #958
I tried clang and it actually gives much more helpful error message:
[code]

@ArchangeGabriel
https://github.com/OpenSMTPD/OpenSMTPD/pull/961#issuecomment-546742240

This actually would make sense if libressl has some kind of compatibility layer that makes it look like openssl.

As far as I can see  that would be the only logical explanation why with libressl installed
it still builds on arch - on

[2019-10-27 23:32] ArchangeGabriel commented on #958
LibreSSL definitively does have a compatibility layer that makes it looks like OpenSSL: that was initially the purpose, to have a drop-in replacement implementing the same API. That’s also why we need to namespace it for packaging, most libs/headers having the same name.

The totally different part of LibreSSL vs OpenSSL is libtls.

[2019-10-27 23:35] ArchangeGabriel commented on #958
I think the issue here is the openbsd-compat layer not taking into account the fact that a non-OpenBSD system can have an up-to-date LibreSSL.

[2019-10-27 23:43] ngortheone commented on #958
I also noticed that openbsd-compat layer duplicates libbsd and is still used when libbsd is installed... but that is probably a different issue too

I will leave this fix implementation to @poolpOrg, he should know better what needs to be done.

My simple solution seems to be working, but I am not sure about all possible consequences
[code]

[2019-10-27 23:50] ArchangeGabriel commented on #958
This does not look like a fix though, pretty sure that wouldn’t work on OpenBSD (not even talking of possible consequences).

[2019-10-28 00:23] ArchangeGabriel commented on #958
Actually, I’m wondering about a more general issue with compiling against LibreSSL, because in the whole log I also have messages like:
[code]

So I’m wondering if by enabling OpenSSL 1.1.x again, it did not add issues with LibreSSL…

[2019-10-28 00:25] ngortheone commented on #958
yes, I see those too. Not sure how important this is, but definitely needs some triage.

[2019-10-29 09:33] zoot commented on #793
@poolpOrg - may I ask when this bug might be tackled and squashed?

I know it's in the to do list for [MTA layer rewrite](https://github.com/OpenSMTPD/OpenSMTPD/projects/4)

I'm revisiting OpenSMTPD for my systems, but realise that this bug was one of my show-stoppers for considering OpenSMTPD for production, since one wouldn't be able to clear the queue of spam, or messages injected by rogue emai

[2019-10-29 21:02] poolpOrg commented on #793
The plan is to have the MTA layer rewrite done for the 6.7.0 release.

[2019-10-29 21:05] poolpOrg commented on #958
I will look into that issue this week, tomorrow hopefully.

[2019-10-31 09:56] poolpOrg commented on #958
@ArchangeGabriel  assuming I setup an archlinux, how would I use your PKGBUILD ?

[2019-10-31 09:57] poolpOrg commented on #947
is it ok to close this issue ?

[2019-10-31 09:57] poolpOrg commented on #954
is it ok to close this issue ?

[2019-10-31 14:18] ArchangeGabriel commented on #958
@poolpOrg Seems you removed your question, so I guess you find out by yourself?

[2019-10-31 15:01] ngortheone commented on #958
@poolpOrg I think the easiest way to reproduce the issue is to trigger Actions Workflow. I have added a test case with Archlinux that exhibits the failure

[2019-10-31 15:01] #947 closed

[2019-10-31 15:04] #954 closed

[2019-10-31 15:06] ngortheone commented on #944
Duplicate of #958
Closing this one to consolidate conversation in one thread.

[2019-10-31 15:06] #944 closed

[2019-10-31 15:45] poolpOrg commented on #958
Then I misunderstood something because on Alpine the issue seems to be that it was using an older version of LibreSSL whereas here you're using 3.0.2.

Am I missing something ?

[2019-10-31 15:47] ArchangeGabriel commented on #958
@poolpOrg No you’re right, I’m the one that missed that information. Then I guess it’s only Arch.

[2019-10-31 15:59] ngortheone commented on #958
https://en.wikipedia.org/wiki/Void_Linux should be using LibreSSL by default.

[2019-10-31 16:05] ngortheone commented on #958
https://repology.org/project/libressl/versions
Not a whole lot of distors have it, and those who do primarily have 2.9.x

[2019-10-31 16:23] ArchangeGabriel commented on #958
Gentoo seems to be one possibility.

@poolpOrg Should I build against OpenSSL in the mean time?

[2019-10-31 18:44] poolpOrg commented on #958
Can you try again the portable branch ?

It should build fine now :-)

[2019-10-31 19:11] ArchangeGabriel commented on #958
It does build fine indeed, though they were some warnings ([full log](https://paste.xinu.at/O4c/)).

[2019-10-31 19:18] ArchangeGabriel commented on #958
I also did an OpenSSL build for comparison ([log](https://paste.xinu.at/lDd/)), most warnings are common between the two. Exception are `SSL_OP_NO_CLIENT_RENEGOTIATION` ones (×19) as well as the `implicit declaration of function ‘SSL_CTX_get_extra_chain_certs_only` for LibreSSL versus four `warning: ‘ASN1_STRING_data’ is deprecated` for OpenSSL.

[2019-10-31 19:25] poolpOrg commented on #958
Good, I'll let you test that the build works fine for you and close the issue if it does.

I'll address the warnings separately because a lot of them are understood and have no consequence, others like the deprecated functions are new to me but don't seem very impactful (particularly if you keep in mind that we do best effort OpenSSL but our real target is LibreSSL).

[2019-10-31 19:26] ArchangeGabriel commented on #958
Awesome, then I’ll try the build later tonight and report. ;)

[2019-10-31 19:35] ngortheone commented on #958
@ArchangeGabriel please feel free to open a new issue for warnings.

[2019-10-31 19:47] poolpOrg commented on #958
Make it more generic though, it's not archlinux related but more of a general portable thing

[2019-10-31 19:55] ngortheone commented on #799
What is a kick mechanism?

[2019-10-31 19:57] ngortheone commented on #709
@poolpOrg this looks a bit old.
What is the current status and are there any future plans regarding this?

[2019-10-31 19:58] ngortheone commented on #742
This report is almost 4 years old. Is it still a thing?

[2019-10-31 23:48] ArchangeGabriel commented on #958
Hum… smtpd exits 1 on start:
[code]
Should I open a new ticket/try with OpenSSL?

[2019-11-01 00:00] ngortheone commented on #958
If you have spare cycles please try OpenSSL too.
but I'd love to get LibreSSL issue solved.

Are you still building like this?
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/opensmtpd

What is in config file?

See if you can get more info with `-v` or trace
https://man.openbsd.org/smtpd

[2019-11-01 00:02] ArchangeGabriel opened #965 "LibreSSL related warnings when compiling 6.6.0p1"
They are two kinds of them:
1. `warning: implicit declaration of function ‘SSL_CTX_get_extra_chain_certs_only’`
[code]
2. `warning: "SSL_OP_NO_CLIENT_RENEGOTIATION" redefined` (19 instances)
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2019-11-01 00:11] ArchangeGabriel commented on #958
@ngortheone Yes, building like this. The diff:
[code]
[code]

I’ll get the verbose output and try OpenSSL right away.

[2019-11-01 00:22] ArchangeGabriel commented on #958
Full log (with LibreSSL), partially anonymized:
[code]

[2019-11-01 00:27] ArchangeGabriel opened #966 "OpenSSL related warnings when compiling 6.6.0p1"
All of them are `warning: ‘ASN1_STRING_data’ is deprecated`:
[code]
[code]
[code]
[code]

[2019-11-01 00:32] ArchangeGabriel opened #967 "Numerous non-SSL warnings when compiling 6.6.0p1"
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]